{% set config = cookies.config %}
{% set consents = [] %}
{% for item in cookies.available %}
	{% set consents = consents|merge(['"' ~ item._id ~ '"']) %}
{% endfor %}

<div id="yn-cookies" class='yn-cookies' data-hide-manager="{{hideConsentManager ? "true" : "false"}}" data-consents="[{{ consents|join(',') }}]">
	<div class='yn-cookies__inner'>
		<div class='yn-cookies__page yn-cookies__page--visible' data-yn-cookie-page='information'>
			<div class='yn-cookies__header'>
				<h3>{{config.headline}}</h3>
			</div>
			<div class='yn-cookies__body'>
				{{config.information|raw}}

			</div>
			<div class='yn-cookies__footer'>
				<ul>
					{% if cookies.available|length > 0 %}
						<li class="link-left">
							<a id="yn-cookies__show-configuration" class='yn-cookies__link yn-cookies__button button'>{{"ConsentManager_ChangeSettings"|trans}}</a>
						</li>
					{% endif %}
					<li>
						<a id="yn-cookies__deny-all" class='yn-cookies__button button button--solid button--pri'>{{"ConsentManager_DenyAll"|trans}}</a>
					</li>
					<li>
						<a id="yn-cookies__allow-all" class='yn-cookies__button button button--solid button--pri'>{{"ConsentManager_AcceptAll"|trans}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class='yn-cookies__page yn-cookies__page--hidden' data-yn-cookie-page='configuration'>
			<div class='yn-cookies__header'>
				<h3>{{config.label.ownSettings}}</h3>
			</div>
			<div class='yn-cookies__body'>
				<form id="yn-cookies-form">
					<ul class="yn-cookies__settings">
						<li>
							<div class="yn-cookies__settings__item">
								<ul>
									<li>
										<h4>{{config.necessary.headline}}</h4>
									</li>
									<li>
										<div class="yn-cookies__settings__switch">
											<label class="yn-cookies__switch">
												<input name="necessary" type="checkbox" checked disabled>
												<span class="yn-cookies__slider disabled"></span>
											</label>
										</div>
									</li>
								</ul>
								{{config.necessary.text|raw}}
							</div>
						</li>

						{% for cookie in cookies.available %}

							<li data-yn-cookie-settings-id="{{cookie._id}}">
								<label for="{{cookie._id}}" class="yn-cookies__settings__item">
									<ul>
										<li>
											<h4>{{cookie.headline}}</h4>
										</li>
										<li>
											<div class="yn-cookies__settings__switch" data-yn-default="{{cookie.default}}">
												<div class="yn-cookies__switch">
													<input name="givenConsents[]" type="checkbox" id="{{cookie._id}}" value="{{cookie._id}}" {% if cookie._id in cookies.active %} checked {% endif %}>
													<span class="yn-cookies__slider"></span>
												</div>
											</div>
										</li>
									</ul>
									{{cookie.text|raw}}
								</label>
							</li>

						{% endfor %}
					</ul>
				</form>
			</div>
			<div class='yn-cookies__footer'>
				<ul>
					<li class="link-left">
						<a id="yn-cookies__show-information" class='yn-cookies__link button'>{{"ConsentManager_Back"|trans}}</a>
					</li>
					<li>
						<a id="yn-cookies__set-cookies" class='yn-cookies__button button button--solid button--pri'>{{"ConsentManager_SaveSettings"|trans}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
