{% set data = section.data %}

{% if _ynfinite.content.data.panel_einheit_beschreibungstext|length > 10 %}
	<section class="section bg wow fadeInUp">
		<div class="inner">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img src="{{ data.general_icon[0].path }}" class="icon" alt="{{ data.general_icon[0].metadata.alt }}"/>
					<div class="bodytext">
						<h2 class="title">{{ data.general_ueberschrift }}</h2>
						{{ _ynfinite.content.data.panel_ausstattung_beschreibungstext|raw }}
					</div>
				</div>

				{% if _ynfinite.content.data.panel_ausstattung_faktenliste|length > 10 %}
					<div class="col-xs-12 col-sm-6">
						<div class="bodytext list-underline">
							{{ _ynfinite.content.data.panel_ausstattung_faktenliste|raw }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
