{% set data = section.data %}
{% set icon = _ynfinite.content.data.call_to_action_icon[0]|default(null) %}

<section class="section bg wow fadeInUp">
	<div class="inner">
		<div class="row">
			<div class="col-xs-12 col-sm-10">
				<h2 class="h1 title">{{ _ynfinite.content.data.call_to_action_ueberschrift }}</h2>
				{{ _ynfinite.content.data.call_to_action_text|raw }}
				{{ _yfunc("form", data.general_form) }}
			</div>

			{% if icon is not null %}
				<div class="col-xs-12 col-sm-2 visible-sm text-right">
					<img src="{{ icon.path }}" alt="{{ icon.metadata.alt }}">
				</div>
			{% endif %}
		</div>
	</div>
</section>
