{% set data = section.data %}

{% if _ynfinite.content.raw.general_projektart != "preview" and not _ynfinite.content.data.panel_details_panel_ausblenden %}
	{% if _ynfinite.content.data.panel_details_kurztext|length > 10 %}
		<section class="section top-padding wow fadeInUp" id="details">
			<div class="inner">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<img src="{{ template.data.general_bild[0].path }}" class="icon" alt="{{ template.data.general_bild[0].metadata.alt }}">
						<div class="bodytext">
							<h2 class="title">{{ template.data.general_ueberschrift }}</h2>
							{{ _ynfinite.content.data.panel_details_kurztext|raw }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="bodytext list-underline">
							{{ _ynfinite.content.data.panel_details_text|raw }}
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	{# 360 Rundgang #}
	{% if _ynfinite.content.data.panel_details_360_rundgang is not empty %}
		<section class="section wow fadeInUp pv-0">
			<div class="inner"><p class="separator"><span>360°</span></p></div>
			<figure class="iframe iframe--maps wow fadeInUp">
				<iframe data-src="{{ _ynfinite.content.data.panel_details_360_rundgang }}" width="1440" height="580" frameborder="0" style="border:0" class="lazyload"></iframe>
			</figure>
		</section>
	{% endif %}
{% endif %}
