{% set data = section.data %}

{% if _ynfinite.content.raw.general_projektart != "preview" %}
	{% if _ynfinite.content.data.panel_fakten_1_hintergrundbild|length %}
		{% set image = _ynfinite.content.data.panel_fakten_1_hintergrundbild[0] %}
		<section class="section wow fadeInUp pv-0">
			<div class="banner">
				<div class="banner__image">
					<img
						data-src="{{ image.path }}?w=800"
						data-srcset="
						{{ image.path }}?w=420 360w,
						{{ image.path }}?w=800 760w,
						{{ image.path }}?w=1680 1400w"
						class="lazyload"
						title="{{ image.metadata.title }}"
						alt="{{ image.metadata.alt }}">

					{% if _ynfinite.content.data.panel_fakten_1_caption == 1 %}
						<span class="banner__caption">{{ _ynfinite.content.data.panel_fakten_1_caption_text|default('Unverbindliche Darstellung') }}</span>
					{% endif %}
				</div>

				<div class="banner__center">
					<div class="row row--list">
						<div class="col-xs-12 col-sm-4">
							<div class="box">
								<span class="counter">01</span>
								<p>{{ _ynfinite.content.data.panel_fakten_1_fakt_1|raw }}</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="box">
								<span class="counter">02</span>
								<p>{{ _ynfinite.content.data.panel_fakten_1_fakt_2|raw }}</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="box">
								<span class="counter">03</span>
								<p>{{ _ynfinite.content.data.panel_fakten_1_fakt_3|raw }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endif %}
