{% set data = section.data %}

{% if _ynfinite.content.raw.general_projektart != "preview" %}
	{% if _ynfinite.content.data.panel_lage_kurztext|length > 10 %}
		<section class="section top-padding wow fadeInUp" id="lage">
			<div class="inner">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<img src="{{ template.data.general_bild[0].path }}" class="icon" alt="{{ template.data.general_bild[0].metadata.alt }}">
						<div class="bodytext">
							<h2 class="title">{{ template.data.general_ueberschrift }}</h2>
							{{ _ynfinite.content.data.panel_lage_kurztext|raw }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="bodytext list-underline">
							{{ _ynfinite.content.data.panel_lage_text|raw }}
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endif %}
