{% set data = section.data %}

{% if _ynfinite.content.data.panel_nachhaltigkeit_nachhaltigkeit|length %}
	<section class="section">
		<div class="inner">
			<p class="separator"><span>Nachhaltigkeit</span></p>
			<div class="row center-xs">
				{% for item in _ynfinite.content.data.panel_nachhaltigkeit_nachhaltigkeit %}
					<div class="col-xs-12 col-sm-4">
						<div class="item item--icon">
							{%- if item.data.general_icon|length %}
								<img src="{{ item.data.general_icon[0].path }}" alt="{{ item.data.general_icon[0].metadata.alt }}">
							{% endif -%}

							<h3 class="title">{{ item.data.general_heading }}</h3>
							{% for text in item.data.general_content %}
								<p>
									<strong>{{ text.data.general_title }}</strong><br>
									{{ text.data.general_text|raw }}
								</p>
								{% if loop.last == false %}<hr>{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
