{% set data = section.data %}

{% if _ynfinite.content.raw.general_projektart != "preview" %}
	<section class="section bg wow fadeInUp" id="objekt">
		<div class="inner">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<img data-src="{{ template.data.general_bild[0].path }}" class="lazyload icon" alt="{{ template.data.general_bild[0].metadata.alt }}"/>
					<div class="bodytext">
						<h2 class="title">{{template.data.general_ueberschrift}}</h2>
						{{ _ynfinite.content.data.panel_objekt_beschreibungstext|raw }}

						{% if _ynfinite.content.data.panel_objekt_pressekit is not empty %}
							<a href="{{ _ynfinite.content.data.panel_objekt_pressekit[0].path }}" title="Download Pressekit" class="button button--primary" download>{{ template.data.general_pressekit }}</a>
						{% endif %}
					</div>
				</div>
				{% if _ynfinite.content.data.panel_objekt_faktenliste|length > 10 %}
					<div class="col-xs-12 col-sm-6">
						<div class="bodytext list-underline">
							{{ _ynfinite.content.data.panel_objekt_faktenliste|raw }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
