{% set data = section.data %}

{% if _ynfinite.content.data.partner_partner == true %}
	<section class="section top-padding wow fadeInUp">
		<div class="inner">
			<p class="separator"><span>{{ data.general_separator ?: 'Partner' }}</span></p>

			{% if _ynfinite.content.data.partner_partner|length %}
				{% for item in _ynfinite.content.data.partner_partner %}
					<div class="row wow fadeInUp {% if loop.last == false %} mb-2{% endif %}">
						<div class="col-xs-12 col-sm{% if loop.index is not divisible by(2) %} text-right-sm{% endif %}">
							<h2 class="title">{{ item.data.general_heading }}</h2>
							{% if item.data.general_text|length > 0 %}
								<div class="bodytext">
									{{ item.data.general_text|raw }}
									{% if item.data.general_button|length %}
										<p>
											<a href="{{ item.data.general_button[0].href }}" class="button button--primary">{{ item.data.general_button[0].text }}</a>
										</p>
									{% endif %}
								</div>
							{% endif %}
						</div>

						<div class="col-xs-12 col-sm{% if loop.index is divisible by(2) %} first-sm text-right-sm{% endif %}">
							{% if item.data.general_bild|length %}
								<figure>
									<img data-src="{{ item.data.general_bild[0].path }}?w=400" class="lazyload" alt="{{ item.data.general_bild[0].metadata.alt }}">
								</figure>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endif %}
