{% set data = section.data %}

{% if _ynfinite.content.data.general_switch_contact != 1 %}
	{% if _ynfinite.content.raw.general_projektart != "preview" %}
		{% if _ynfinite.content.data.general_zustaendige_mitarbeiter|length or _ynfinite.content.data.general_externer_vertrieb|length %}
			<section class="section bg" id="kontakt">
				<div class="handle">Kontakt</div>
				<div class="inner">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="item mb-2">
								<h2 class="title">Wir sind<br/>für sie da</h2>
								<p><strong>Sie haben Fragen?</strong><br>Melden Sie sich bei uns.</p>
								<p><a href="#contact" class="button button--primary js-tv" data-tv="contact">Kontaktformular</a></p>
							</div>
						</div>

						<div class="col-xs-12 col-sm-8">
							<div class="swiper__box">
								<div class="swiper-container swiper--2">
									<div
										class="swiper-wrapper">
										{# show: mitarbeiter ================================================ #}
										{% if _ynfinite.content.data.general_zustaendige_mitarbeiter|length %}
											{% for item in _ynfinite.content.data.general_zustaendige_mitarbeiter %}
												<div class="swiper-slide">
													{% if item.data.general_interview|length > 12 %}
														<a href="#team-modal-{{ loop.index0 }}" class="item item--team js-modal">
													{% else %}
														<div class="item item--team">
													{% endif %}
															<img src="{{ item.data.general_bild[0].path }}?w=600" class="item__image" alt="{{ item.data.general_name }}">
															<div class="item__content">
																<h3 class="h4 heading">{{ item.data.general_name }}</h3>
																<p>{{ item.data.general_position }}</p>
															</div>
													{% if item.data.general_interview|length > 12 %}
														</a>
													{% else %}
														</div>
													{% endif %}
												</div>
											{% endfor %}
										{% endif %}

										{# show: externe ==================================================== #}
										{% if _ynfinite.content.data.general_externer_vertrieb|length %}
											{% for item in _ynfinite.content.data.general_externer_vertrieb %}
												<div class="swiper-slide">
													<div class="item item--team">
														<img src="{{ item.data.general_bild[0].path }}" class="item__image" alt="{{ item.data.general_partner }}"/>
														<div class="item__content">
															<h3 class="h4 heading">{{ item.data.general_partner }}</h3>
															<p>
																{{ item.data.general_name }}
																{% if item.data.general_telefon %}<br>{{ item.data.general_telefon }}{% endif %}
															</p>
														</div>
													</div>
												</div>
											{% endfor %}
										{% endif %}
									</div>

									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{# modals #}
				{% for item in _ynfinite.content.data.general_zustaendige_mitarbeiter %}
					{% if item.data.general_interview|length > 12 %}
						<div id="team-modal-{{ loop.index0 }}" class="modal">
							{{ item.data.general_interview|raw }}
						</div>
					{% endif %}
				{% endfor %}
			</section>

			{# contact #}
			<section id="contact" class="section tv tv--contact bg" data-tv="contact">
				<div class="inner">
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<h3 class="h3 title">Kontakt</h3>
							<p class="bold">
								{% for cat in _ynfinite.content.settings.categories %}
									{%if cat.alias == "projekt-ist-in-berlin" %}
										T. 030-586 19 90-0<br/>
										<a href="mailto:berlinvertrieb@wvm.de">berlinvertrieb@wvm.de</a>
									{% endif %}
									{%if cat.alias == "projekt-ist-in-koeln" %}
										T. 0221-93 12 90-777<br/>
										<a href="mailto:vertrieb@wvm.de">vertrieb@wvm.de</a>
									{% endif %}
								{% endfor %}
							</p>
							<p class="bold">
								Presseanfragen:<br/>
								<a href="mailto:presse@wvm.de">presse@wvm.de</a>
							</p>
						</div>
						<div class="col-xs-12 col-sm-9">
							{{ _yfunc("form", data.general_formular) }}
						</div>
					</div>
				</div>
				<button class="tv__button js-tv-close">&times;</button>
			</section>
		{% endif %}
	{% endif %}
{% endif %}
