<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
    {% block head %}
        {% include 'yn/layout/head.twig' %}
    {% endblock %}

    
</head>
<body class="{{_ynfinite.page.css_classes}} {{useragent}}" id="{{_ynfinite.page.css_id}}">
    
    {% block header %}{{ include(templateList['header'], {template: _templates["header"]}) }}{% endblock header %}
    {% block body %}
    
    {% for section in _ynfinite.sections %}
        {{ include(templateList[section.template], {section: section, template: _templates[section.template]}) }}
    {% endfor %}

    {% endblock body %}
    {% block footer %}{{ include(templateList["footer"], {template: _templates["footer"]}) }}{% endblock footer %}
    
    {% block footer_scripts %}
        <script language="javascript" type="text/javascript" src="public/assets/js/app.min.js"></script>
        <script language="javascript" type="text/javascript" src="public/assets/js/lazysizes.min.js"></script>
    {% endblock footer_scripts %}


    {% block cookies %}
        {% if _ynfinite.cookies.config.active %}
            {{ include("yn/module/cookieManager/index.twig", {"cookies": _ynfinite.cookies})}}
        {% endif %}
    {% endblock cookies %}
</body>
</html>