{% set data = section.data %}

<section class="section wow fadeInUp">
    {% getCookieConsent "google_maps" %}
      <div id="google-map" class="iframe iframe--maps"></div>
      <script>
      function initMap() {
        var markers = [];
        
        var bounds = new google.maps.LatLngBounds();
        
        var markerData = [
          {% for item in data.general_projekte %}
              {% if item.data.panel_google_maps_coords.lat and item.data.panel_google_maps_coords.lng %}
                  {
                      position: {lat: {{item.data.panel_google_maps_coords.lat}}, lng: {{item.data.panel_google_maps_coords.lng}}},
                      title: "{{item.data.panel_intro_projektname}}",
                      type: "{{item.raw.general_projektart}}",
                      link: "{{_yfunc.linkPage('projekt', item.settings.seo.alias)}}",
                        {% if item.raw.general_projektart == "preview" %}
                          icon: "{{template.data.general_map_icons[0].path}}",
                        {% else %}
                          icon: "{{template.data.general_map_icons[1].path}}",
                        {% endif %}                
                  },
              {% endif %}
          {% endfor %}
        ]
        
        var mapCenter = {lat: 0, lng: 0};
        var map = new google.maps.Map(document.getElementById('google-map'), {zoom: 4, center: mapCenter, styles: mapStyles});
        google.maps.event.addListener(map, 'zoom_changed', function() {
              zoomChangeBoundsListener = 
                  google.maps.event.addListener(map, 'bounds_changed', function(event) {
                      if (this.getZoom() > 14 && this.initialZoom == true) {
                          // Change max/min zoom here
                          this.setZoom(14);
                          this.initialZoom = false;
                      }
                  google.maps.event.removeListener(zoomChangeBoundsListener);
              });
          });
        
        for(var i = 0; i<markerData.length; i += 1) {
            var marker = new google.maps.Marker({
                position: {lat: markerData[i].position.lat, lng: markerData[i].position.lng}, 
                title: markerData[i].title,
                icon: markerData[i].icon,
                map: map
            });
            bounds.extend(marker.position);
            
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                window.open(markerData[i].link);
                //window.location.href = markerData[i].link
              }
            })(marker, i));
            
            markers.push(marker);
        }
        
        map.initialZoom = true;
        map.fitBounds(bounds);
      }



      window.onload = (function(){
          initMap();
      });        
      </script>
      <!--
      <figure class="iframe iframe--maps">
          <iframe width="1440" height="580" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{_ynfinite.content.data.panel_beschreibung_region_fuer_karte}}&amp;key=AIzaSyAb3DRc0x2BCQupG4akbHyIAc36-Pc3K2A" allowfullscreen=""></iframe>

      function initMap() {
                console.log("INITING MAP", initMap);
                var markers = [];
                
                var markerData = [
                  {% for item in data.general_projekte %}
                      {% if item.data.panel_google_maps_coords.lat and item.data.panel_google_maps_coords.lng %}
                          new google.maps.Marker({position: {lat: {{item.data.panel_google_maps_coords.lat}}, lng: {{item.data.panel_google_maps_coords.lng}}}, map: map});
                      {% endif %}
                  {% endfor %}
                ]
                
                var mapCenter = {lat: 0, lng: 0};
                var map = new google.maps.Map(document.getElementById('google-map'), {zoom: 4, center: mapCenter});
                
                for(var i = 0; i<markerData.length; i += 1) {
                    var marker = new google.maps.Marker({position: {lat: markerData[i].lat, lng: markerData[i].lng}, map: map});
                    console.log("PUSHING MARKER", marker)
                    markers.push(marker);
                }
              }


      </figure>
      -->
  {% endGetCookieConsent %}
</section>