{% set data = section.data %}

<section class="section wow fadeInUp">
  <div class="handle">{{template.data.general_bezeichnung}}</div>
  <div class="inner">
    <p class="separator"><span>{{template.data.general_bezeichnung}}</span></p>
    <div class="row row--entry">
      <div class="col-xs-12 col-sm-6">
        <div class="item text-right-md">
          <figure class="mb-1 w100">
            <img
              data-src="{{ template.data.general_bild[0].path }}?w=800"
              data-srcset="{{template.data.general_bild[0].path}}?w=420 360w, {{template.data.general_bild[0].path}}?w=800 760w"
              sizes="100%"
              class="lazyload"
              alt="{{ template.data.general_bild[0].metadata.alt }}"
            />
          </figure>
          <p class="tagline">{{template.data.karriere_oberlinie}}</p>
          <h2 class="h1 title">{{template.data.karriere_ueberschrift}}</h2>
          {{template.data.karriere_text|raw}}
          <p><a href="/karriere.html" class="link">Mehr Erfahren</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="item">
          <p class="tagline">{{template.data.team_oberlinie}}</p>
          <h2 class="h1 title">{{template.data.team_ueberschrift}}</h2>
          {{template.data.team_text|raw}}
          <p><a href="/ueber-uns.html" class="link">Mehr Erfahren</a></p>
        </div>
      </div>
    </div>
  </div>
</section>