{% set data = section.data %}

<section class="section wow fadeInUp">
	{% if data.general_handle|length %}
		<div class="handle">{{ data.general_handle }}</div>
	{% endif %}

	<div class="inner">
		<p class="separator"><span>{{ data.general_separator }}</span></p>
		<h2 class="title">{{ data.general_ueberschrift|raw }}</h2>

		<div class="mt-2">
			{% for item in data.general_faq %}
				<details>
					<summary>{{ item.data.general_summary }}</summary>
					<div class="details__content">
						{{ item.data.general_content|striptags('<p><br><ul><ol><li><b><i>')|raw }}
					</div>
				</details>
			{% endfor %}
		</div>
	</div>
</section>
