{% set data = section.data %}

<section class="flexgrid header">
	<div class="flexitem header__content wow fadeInUp">
		<div class="flexitem header__content__item">
			{% if data.general_tagline|length %}<p class="tagline">{{ data.general_tagline }}</p>{% endif %}

			<h1 class="title">{{ data.general_heading|raw }}</h1>
			{% if data.general_text|length > 8 %}
				<div class="bodytext">
					{{ data.general_text|striptags('<p><br><a><ul><ol><li><b><i>')|raw }}
				</div>
			{% endif %}
		</div>
	</div>

	<div class="flexitem header__meta">
		<div class="flexitem">
			{% if data.general_image|length %}
				{% set image = data.general_image[0] %}
				<figure class="header__image">
					{{ _yfunc('printImage', image, [{"w":420, "screenSize":360},{"w":1024, "screenSize":800},{"w":1024}]) }}
				</figure>
			{% endif %}

			{% if bubble_text|length %}
				<div class="bubble wow fadeInUp">
					<div class="bubble__content">
						{%- if data.bubble_heading|length %}
							<h3>{{ data.bubble_heading }}</h3>
						{% endif -%}

						{{ data.bubble_text|raw }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
