{% if form.errors %}
	<script>
		{% if form.type == "resetPasswordForm" %}
			const resetPwdParam = new URLSearchParams({
				hash: '{{_ynfinite.params.hash}}',
			})
			history.pushState({}, null, '{{_ynfinite.currentSlug}}' + '?' + resetPwdParam);
		{% else %}
			history.pushState({}, null, '{{_ynfinite.currentSlug}}');
		{% endif %}
	</script>
{% endif %}

{% set formAction = '/yn-form/send' %}
{% if form.method == 'get' and (not form.events or not form.events[0].async) %}
	{% if form.redirectPage.route %}
		{% if _ynfinite.languages.available|length > 1 %}
			{% set formAction = _ynfinite.languages.prefix ~ form.redirectPage.route %}
		{% else %}
			{% set formAction = form.redirectPage.route %}
		{% endif %}
	{% else %}
		{% set formAction = _ynfinite.domain.pathname %}
	{% endif %}
{% endif %}

<form class="yn-form 
	{% if form.settings.noBotProtection %}yn-no-bot-protection{% endif %}" 
	id="form_{{form.uid}}" 
	name="{{form.name}}" 
	method="{{form.method}}" 
	enctype="multipart/form-data" 
	action="{{ formAction }}" 
	redirect="{% if form.method == 'get' and (not form.events or not form.events[0].async) %}true{% else %}false{% endif %}"
	data-ynalias="{{form.alias}}" 
	data-ynform="true" 
	data-language="{{_ynfinite.languages.current}}" 
	data-ynformid="{{form._id}}" 
	data-ynformmethod="{{form.method}}" 
	data-events="{{form.events|map((x) => x._id)|json_encode}}"
	{% if section._id %} data-ynsectionid="{{section._id}}" {% endif %} 
	{% if form.settings.noBotProtection %}data-has-proof="true" data-proofen-hash="true"{% endif %}
	{{data}} 
>
	<fieldset>
	    <legend style="display: none;">{{ 'yn_contactForm'|trans }}</legend>
		{% if form.method != "get" %}
			<label style="display: none !important;" tabindex="-1" aria-label="hidden" for="yn_confirm_email">{{ 'yn_confirmEmail'|trans }}</label>
			<input type="text" name="yn_confirm_email" id="yn_confirm_email" required value style="display: none !important;" autocomplete="off"> 
			<input type="text" name="yn_confirm_name" style="position:absolute; left:-9999px;" required value placeholder="{{ 'yn_name'|trans }}" autocomplete="off" tabindex="-1" aria-hidden="true"> 
			<input type="hidden" value="{{form._id}}" name="formId">
			<input type="hidden" value="{{_ynfinite.languages.current}}" name="formLanguage">
		{% endif %}
		{% if section._id %}
			<input type="hidden" value="{{section._id}}" name="sectionId">
		{% endif %}
		<div class="yn-error">{{form.errors[0]}}</div>
		<div class="form-content">
			{% if templates[form.template] %}
				{{include(templates[form.template], {"form": form})}}
			{% endif %}
		</div>
		<div class="yn-form-response">
			<div class="yn-form-response__inner"></div>
			<div class="yn-form-response__control">
				<a href="#" class="yn-form-response__new-form button button--solid">{{ 'yn_newForm'|trans }}</a>
			</div>
		</div>
	</fieldset>
	{% if form.type == "resetPasswordForm" or form.type == "registrationForm" %}
		<script>
			const form = document.querySelector("#form_{{ form.uid }}");
			form.addEventListener("submit", function (e) {
				const data = new FormData(form);
				const passwords = [];
				for (const [name,value] of data) {
					if(name.toLowerCase().includes('password')) {
						passwords.push(value)
					}
				}
				if(!passwords.every(element => element === passwords[0])) {
					const resetErrorContainer = document.querySelector('.yn-error');
					resetErrorContainer.innerHTML = 'Password does not match.';
					resetErrorContainer.style.color = 'red';
					e.preventDefault();
				}
			});

		</script>
	{% endif %}
	{% if form.method == "post" %}
		<script>
			(function () {
				const form = document.querySelector("#form_{{ form.uid }}");

				form.addEventListener("onAsyncChange", function (e) {
				window.$_yn.forms.showResponse(this, e.detail.response)
				})
			})()
		</script>
	{% endif %}

	{% if form.method != "get" %}
		{% if form.events|filter((x) => x.async == false) %}
			<script>
				(function () {
					const fieldset = document.querySelector("#form_{{ form.uid }} fieldset");
					fieldset.innerHTML = '<input type="hidden" value="true" name="hasProof">' +  fieldset.innerHTML
				})()
			</script>
		{% endif %}
	{% endif %}
</form>

{% if form.errors %}
	<script>
		document.querySelectorAll('.yn-error').forEach(error => {
			error.style.color = 'red';
		});
	</script>
{% endif %}