{% set action = form.redirectPage.route ? _ynfinite.languages.prefix ~ form.redirectPage.route : _ynfinite.currentSlug %}
<form class="yn-form" id="form_{{form.uid}}" method="{{form.method}}" enctype="multipart/form-data" action="{{isAsync ? "/yn-form/send" :action}}" data-ynalias="{{form.alias}}" data-ynform="true" data-language="{{_ynfinite.languages.current}}" data-ynformid="{{form._id}}" data-ynformmethod="{{form.method}}" {% if(section._id) %} data-ynsectionid="{{section._id}}"{% endif %} {{data}}>
	<fieldset>
		<div class="yn-error"></div>
		<div class="form-content">
			{% if templates[form.template] %}
				{{include(templates[form.template], {"form": form})}}
			{% endif %}
		</div>
		<div class="yn-form-response">
			<div class="yn-form-response__inner"></div>
			<div class="yn-form-response__control">
				<a href="#" class="yn-form-response__new-form button">Neues Formular</a>
			</div>
		</div>
	</fieldset>

	{% if form.method == "post" %}
		<script>
			(function() {
				const form = document.querySelector("#form_{{form.uid}}");

				form.addEventListener("onAsyncChange", function(e) {
					window.$_yn.forms.showResponse(this, e.detail.response)
				})
			})()
		</script>
	{% endif %}
</form>
