{% if link.type == 'file' %}
        {% set path = link.file[0].path %}
{% else %}
    {% set path = link.href %}
{% endif %}

{% if path %}
    <a
        href="{{ path }}"
        {% if link.css_id %}
            id="{{ link.css_id }}"
        {% endif %}
        {% if classes or link.css_class %}
            class="yn-button {{ classes }} {{ link.css_class }}"
        {% endif %}
        {% if link.title %}
            title="{{ link.title }}"
        {% endif %}
        {% if link.blank %}
            target="_blank" rel="noopener noreferrer"
        {% endif %}

        {% if link.data_attribute %}
            {{ link.data_attribute }}
        {% endif %}

        {% if link.type == 'file' %}
            download="{{ link.file[0].name ?: link.title }}"
        {% endif %}
    >
        {{ link.text ?: link.title }}
    </a>
{% endif %}