{% set pagination = _ynfinite.pagination %}

{% if pagination.totalPages > 1 %}
	<ul class='yn-pagination'>
		<li class='yn-pagination__control yn-pagination__first {% if pagination.currentPage == 1 %}yn-disabled{% endif %}'>
			<a href='{% if pagination.currentPage == 1 %}#{% else %}{{uriData.listingURL}}__yPage=1{% endif %}'>&lt;&lt;</a>
		</li>

		<li class='yn-pagination__control yn-pagination__prev {% if pagination.currentPage == 1 %}yn-disabled{% endif %}'>
			<a href='{% if pagination.currentPage == 1 %}#{% else %}{{uriData.listingURL}}__yPage={{pagination.currentPage-1}}{% endif %}'>&lt;</a>
		</li>

		{% for page in max(1, pagination.currentPage-2)..min(pagination.currentPage+2, pagination.totalPages) %}
			<li class='yn-pagination__page{% if page == pagination.currentPage %} yn-pagination__page--active{% endif %}'>
				{% if page == pagination.currentPage %}
					<span>{{page}}</span>
				{% else %}
					<a href='{{uriData.listingURL}}__yPage={{page}}'>{{page}}</a>
				{% endif %}
			</li>
		{% endfor %}

		<li class='yn-pagination__control yn-pagination__next {% if pagination.currentPage == pagination.totalPages %}yn-disabled{% endif %}'>
			<a href='{% if pagination.currentPage == pagination.totalPages %}#{% else %}{{uriData.listingURL}}__yPage={{pagination.currentPage+1}}{% endif %}'>&gt;</a>
		</li>

		<li class='yn-pagination__control yn-pagination__last {% if pagination.currentPage == pagination.totalPages %}yn-disabled{% endif %}'>
			<a href='{% if pagination.currentPage == pagination.totalPages %}#{% else %}{{uriData.listingURL}}__yPage={{pagination.totalPages}}{% endif %}'>&gt;&gt;</a>
		</li>
	</ul>
{% endif %}
