{% set data = section.data %}

{% if _ynfinite.content.data.panel_wohnungen_wohnungen|length %}
	<section class="section wow fadeInUp">
		<div class="inner">
			<p class="separator"><span>Grundrisse</span></p>
			<div class="slider__box">
				<div class="swiper-container swiper--1">
					<div class="swiper-wrapper">
						{% for item in _ynfinite.content.data.panel_wohnungen_wohnungen %}
							<div class="swiper-slide">
								<div class="row">
									<div class="col-xs-12 col-sm" style="margin-bottom: 3rem;">
										<p class="tagline">{{ item.data.general_tagline }}</p>
										<h2 class="title">{{ item.data.general_title }}</h2>

										{# Status #}
										{% if item.data.general_status_1|length %}
											<span class="status status--{{ item.data.general_status_1.value|lower }}">{{ item.data.general_status_1.value|title }}</span>
										{% endif %}

										<dl class="list-underline">
											{% for list in item.data.general_raeume %}
												<dt>{{ list.data.general_title }}</dt>
												<dd>{{ list.data.general_quadratmeter }}</dd>
											{% endfor %}
										</dl>

										{# Gesamt Wohnfläche #}
										{% if item.data.general_gesamt_wohnflaeche|length %}
											<dl class="list-summary">
												<dt>Gesamt Wohnfläche</dt>
												<dd>{{ item.data.general_gesamt_wohnflaeche }}</dd>
											</dl>
										{% endif %}

										{# Preis #}
										{% if item.data.general_show_preis == 1 %}
											{% if item.data.general_preis != 0 %}
												<dl class="list-summary">
													<dt>Preis</dt>
													<dd>{{ item.data.general_preis|number_format(2, ',', '.') }}</dd>
												</dl>
											{% endif %}
										{% endif %}

										{# Kontakt #}
										{% if _ynfinite.content.data.general_switch_contact != 1 %}
											{% if _ynfinite.content.data.general_mitarbeiter|length or _ynfinite.content.data.general_extern|length %}
												<p>
													<a href="#contact" class="button button--primary js-tv" data-tv="contact">Kontaktformular</a>
												</p>
											{% endif %}
										{% endif %}
									</div>

									{% if item.data.general_grundriss|length %}
										<div class="col-xs-12 col-sm">
											<figure class="text-center">
												<img src="{{ item.data.general_grundriss[0].path }}?w=800" alt="{{ item.data.general_grundriss[0].metadata.alt }}">
												<figcaption>Änderungen vorbehalten</figcaption>
											</figure>
										</div>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>

					{# pagination #}
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
