{% set data = section.data %}

<header class="header wow fadeInUp">
	<div class="inner">
		<h1 class="title text-primary">{{ data.general_ueberschrift|striptags('<span>')|raw}}</h1>
		{% if data.general_text|length > 10 %}
			<div class="bodytext">
				{{ data.general_text|raw }}
			</div>
		{% endif %}
	</div>
</header>

{# parallax banner #}
{% if data.general_image_left|length %}
	<div class="parallax__banner standalone wow fadeInUp">
		<div class="parallax__banner__panel rellax" data-rellax-speed="0.5" data-rellax-zindex="0">
			<img data-src="{{ data.general_image_left[0].path }}?w=1280" class="lazyload" title="{{ data.general_image_left[0].metadata.title }}" alt="{{ data.general_image_left[0].metadata.alt }}">
		</div>
		<div class="parallax__banner__panel rellax" data-rellax-speed="-0.5" data-rellax-zindex="0">
			<img data-src="{{ data.general_image_right[0].path }}?w=1280" class="lazyload" title="{{ data.general_image_right[0].metadata.title }}" alt="{{ data.general_image_right[0].metadata.alt }}">
		</div>
	</div>
{# banner #}
{% elseif data.general_bild|length %}
	<div class="banner banner--borders banner--overlay wow fadeInUp" data-width="2" data-pos="left">
		<div class="banner__image">
			<img data-src="{{ data.general_bild[0].path }}?w=1920&h=520" class="lazyload" title="{{ data.general_bild[0].metadata.title }}" alt="{{ data.general_bild[0].metadata.alt }}">
		</div>
	</div>
{% endif %}
