{% set data = section.data %}

<section class="section">
	<div class="handle">{{ template.data.general_bezeichnung }}</div>
	<div class="inner">
		<h2 class="h1 title text-soft break--indent mb-2">
			<span class="wow fadeInLeft">{{ template.data.general_wort_1 }}</span>
			<span class="wow fadeInLeft" data-wow-delay=".5s">{{ template.data.general_wort_2 }}</span>
			<span class="wow fadeInLeft" data-wow-delay="1s">{{ template.data.general_wort_3 }}</span>
		</h2>
	</div>
	<div class="inner wow fadeInUp">
		<h3 class="span-all title"><strong>{{ data.general_ueberschrift }}</strong></h3>
		<div class="bodytext columns columns--pull">
			{{ data.general_text|raw }}
		</div>
	</div>
</section>