{% set data = section.data %}

<section class="section wow fadeInUp">
    <div class="handle">Wir in {{_ynfinite.content.data.general_name}}</div>
    <div class="inner">
        <p class="separator"><span>WvM {{_ynfinite.content.data.general_name}}</span></p>
        <div class="row row--entry">
            <div class="col-xs-12 col-sm-6 last-sm">
                <div class="item">
                    <h2 class="h1 title">{{_ynfinite.content.data.panel_mittendrin_ueberschrift}}</h2>
                    {{_ynfinite.content.data.panel_mittendrin_text|raw}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="item text-right-md">
                    {{_ynfinite.content.data.panel_mittendrin_kontaktinformationen|raw}}
                </div>
            </div>
        </div>
    </div>
</section>