{% set data = section.data %}

<section class="section section--high bg wow fadeInUp" id="kontakt">
	<div class="handle">Das Team</div>
	<div class="inner">
        <div class="content-list-header">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {{_yfunc("form", _ynfinite.listingForm, section)}}
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="content-list-header__perPage">
                        {{ _yfunc("perPageDropdown") }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="gridx">
            <div class="gridx-col gridx-col--1"></div>
            <div class="gridx-col gridx-col--2"></div>
            <div class="gridx-col gridx-col--3"></div>

    		{% for item in _ynfinite.listing %}
    		<div class="gridx-item">
    			{% if item.data.general_interview|length > 12 %}
    			<a href="#team-modal-{{ loop.index0 }}" class="item item--team js-modal">
    			{% else %}
    			<div class="item item--team">
    			{% endif %}
    				<img data-src="{{ item.data.general_bild[0].path }}?w=400" class="lazyload item__image" alt="{{ item.data.general_name }}" />
    				<div class="item__content">
    					<h3 class="h4 heading">{{ item.data.general_name }}</h3>
    					<p class="mb-0">{{ item.data.general_position }}</p>
    					<p class="mt-0"><span class="href">{{item.data["general_e-mail"]}}</span></p>
    				</div>
    			{% if item.data.general_interview|length > 12 %}
    			</a>
    			{% else %}
    			</div>
    			{% endif %}
    		</div>
    	    {% endfor %}
        </div>
        
    	<div class="content-list-footer">
            <div class="content-list-footer__perPage">
                {{_yfunc("pagination")}}
            </div>
        </div>
	</div>
</section>

{% for item in _ynfinite.listing %}
{% if item.data.general_interview is not empty %}
    <div id="team-modal-{{loop.index0}}" class="modal">
        <h3>{{ item.data.general_name }}</h3>
    	{{ item.data.general_interview|raw }}
    </div>
{% endif %}
{% endfor %}