<div class="yn-gdpr">
    <div class="yn-form-instruction">
        {{form.formInstruction|raw}}
    </div>
    {% if lead.error is not defined %}
        <form class="yn-form" id="form_gdpr_update" method="POST" enctype="multipart/form-data" action="/yn-gdpr/update" data-ynform="true" data-onsubmit="async" data-language="{{_ynfinite.languages.current}}" {% if(section._id) %} data-ynsectionid="{{section._id}}"{% endif %} data-ynformmethod="POST">
            <fieldset>
                <div class="yn-error"></div>
                <div class="form-content">
                    <input type="hidden" name="hash" value="{{lead.hashes.gdpr.hash}}" >
                    <div class="row">
                        <div class="col-xs-12">
                            <div class='widget widget--email'>
                                <label class="widget__label" for="lead[email]">
                                    {{ 'yn_email'|trans }}
                                    <span class="required">*</span>
                                </label>

                                <div class="widget__input-container">
                                    <input type="email" name="lead[email]" required value="{{lead.email}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class='widget widget--text'>
                                <label class="widget__label" for="lead[salutation]">
                                    {{ 'yn_salutation'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <select name="lead[salutation]" value="{{lead.salutation}}">
                                        <option value="" {{lead.salutation == "" ? "selected": ""}}>{{ 'yn_noInformation'|trans }}</option>
                                        <option value="m" {{lead.salutation == "m" ? "selected": ""}}>{{ 'yn_mr'|trans }}</option>
                                        <option value="f" {{lead.salutation == "f" ? "selected": ""}}>{{ 'yn_msMrs'|trans }}</option>
                                        <option value="d" {{lead.salutation == "d" ? "selected": ""}}>{{ 'yn_diverse'|trans }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class='widget widget--text'>
                                <label class="widget__label" for="lead[title]">
                                    {{ 'yn_title'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <input type="text" name="lead[title]" value="{{lead.title}}">
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class='widget widget--text'>
                                <label class="widget__label" for="lead[firstName]">
                                    {{ 'yn_firstname'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <input type="text" name="lead[firstName]" value="{{lead.firstName}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class='widget widget--text'>
                                <label class="widget__label" for="lead[lastName]">
                                    {{ 'yn_lastname'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <input type="text" name="lead[lastName]" value="{{lead.lastName}}">
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="yn-form-divider">{{ 'yn_addressData'|trans }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[company]">
                                    {{ 'yn_company'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <input type="text" name="lead[company]" value="{{lead.company}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[address][street]">
                                    {{ 'yn_street'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <input type="text" name="lead[address][street]" value="{{lead.address.street}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[address][houseNumber]">
                                    {{ 'yn_houseNumber'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <input type="text" name="lead[address][houseNumber]" value="{{lead.address.houseNumber}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[address][zip]">
                                    {{ 'yn_zip'|trans }}
                                </label>
                                <div class="widget__input-container">
                                    <input type="text" name="lead[address][zip]" value="{{lead.address.zip}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[address][city]">
                                    {{ 'yn_city'|trans }}
                                </label>
                                <div class="widget__input-container">
                                    <input type="text" name="lead[address][city]" value="{{lead.address.city}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[address][state]">
                                    {{ 'yn_state'|trans }}
                                </label>
                                <div class="widget__input-container">
                                    <input type="text" name="lead[address][state]" value="{{lead.address.state}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[address][country]">
                                    {{ 'yn_country'|trans }}
                                </label>
                                <div class="widget__input-container">
                                    <input type="text" name="lead[address][country]" value="{{lead.address.country}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="yn-form-divider">{{ 'yn_contactData'|trans }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[contactInformation][phone]">
                                    {{ 'yn_phone'|trans }}
                                </label>
                                <div class="widget__input-container">
                                    <input type="text" name="lead[contactInformation][phone]" value="{{lead.contactInformation.phone}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <div class='widget widget--text'>
                                <label class="widget__label" for="lead[contactInformation][mobile]">
                                    {{ 'yn_mobile'|trans }}
                                </label>
                                <div class="widget__input-container">
                                    <input type="text" name="lead[contactInformation][mobile]" value="{{lead.contactInformation.mobile}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="yn-form-divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class='widget widget--text yn-form-highlight'>
                                <label class="widget__label" for="action">
                                    {{ 'yn_action'|trans }}
                                </label>

                                <div class="widget__input-container">
                                    <select name="action" required>
                                        <option value="update">{{ 'yn_updateData'|trans }}</option>
                                        <option value="delete">{{ 'yn_deleteData'|trans }}</option>
                                    </select>
                                    <small class="widget__hint">{{ 'yn_actionHint'|trans }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ _yfunc("consents", form) }}
                    <div class="yn-form-controlls">
                        <button type="submit" class="button">
                            {{ 'yn_submitNow'|trans }}
                        </button>
                    </div>
                </div>
                <div class="yn-form-response">
                    <div class="yn-form-response__inner"></div>
                </div>
            </fieldset>
            <script>
                (function() {
                    const form = document.querySelector("#form_gdpr_update");
                    
                    form.addEventListener("onAsyncChange", function(e) {
                        window.$_yn.forms.showResponse(this, e.detail.response)
                    })
                })()
            </script>
        </form>
    {% else %}
        <div class="yn-error">
            <p>{{lead.error}}</p>
        </div>
    {% endif %}
</div>