{% set user = _ynfinite.user %}

{% if user or form %}
    <div class="yn-dropdown yn-dropdown--profile">
        <svg class="yn-dropdown__button yn-user" width="50px" height="50px" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="15" r="8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            <circle cx="25" cy="25" r="24" stroke="currentColor" stroke-width="2"/>
            <path d="M41 41C39.5 36 34.5 33 25 33C15.5 33 10.5 36 9 41" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <div class="yn-dropdown__popup hidden">
            <div class="yn-dropdown__content">
                {% if user %}
                    <div data-ynfield class="yn-user__info">
                        <div class="close-wrapper">
                            <div>
                                <label class="small-label" data-ynfield>{{ 'yn_mail'|trans }}</label>
                                <p data-ynfield class="small">{{ user.email }}</p>
                            </div>
                            <svg class="yn-dropdown__button close" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Menu / Close_MD">
                                <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    {% if links %}
                        {% for link in links %}
                            <a data-ynfield href="{{link.href}}" aria-label="{{link.title}}">{{link.text}}</a>
                        {% endfor %}
                    {% endif %}
                    <a data-ynfield href="/profile" aria-label="{{ 'yn_profile'|trans }}">{{ 'yn_profile'|trans }}</a>
                    <a data-ynfield href="/logout" aria-label="{{ 'yn_logout'|trans }}">{{ 'yn_logout'|trans }}</a>
                {% elseif form %}
                    <div class="close-wrapper">
                        <div>
                            <h4>{{ 'yn_login'|trans }}</h4>
                            <label>{{ 'yn_noAccount'|trans }} <a href="/registration">{{ 'yn_registerNow'|trans }}</a></label>
                        </div>
                        <svg class="yn-dropdown__button close" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Menu / Close_MD">
                            <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                    {{ _yfunc("form", form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}