<!DOCTYPE html>
<html lang="{{ _ynfinite.languages.current|default('de') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fehler {{ statusCode }}</title>
    <style>
        :where(*) {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-weight: 300;
        }
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #242631;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        svg {
            max-width: 300px;
            width: 100%;
        }

        .code {
            font-size: clamp(1.3rem, 3vw, 2rem);
            font-weight: bold;
            display: block;
            width: 100%;
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #fff;
        }

        .error-wrapper {
            background-color: #c43174;
            color: #fff;
            padding: 48px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            max-width: 80%;
            margin: auto;
        }

        h2 {
            font-size: clamp(.85rem, 3vw, 1.2rem);
        }
    </style>
</head>
<body>
    <div class="error-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 933.33 213">
            <g transform="matrix(1.3333 0 0 -1.3333 0 213)">
                <g transform="scale(.1)">
                    <path d="m806.94 1270.3c-5.382 5.7-184.31 176.94-358.47 327.19-174.16-150.25-353.09-321.49-358.47-327.19-5.4961-5.82-41.734-43.92-62.305-87.94-19.652-42.04-25.676-80.81-27.695-106.58v-688l269.16 260.64v413.82l179.31 167.05 179.31-167.05v-413.82l269.16-260.64v688c-2.023 25.77-8.046 64.54-27.695 106.58-20.57 44.02-56.812 82.12-62.305 87.94zm-537.78-882.93v-387.41l179.31 171.15 179.31-171.15v387.41l-179.31 171.15zm6488.9 439.15c-2.84 17.871-7.87 34.32-15.71 48.941-13.15 24.469-31.27 43.5-54.38 57.101-23.11 13.59-50.09 20.387-80.89 20.387-30.82 0-57.77-6.797-80.88-20.387-23.11-13.601-41.02-32.863-53.7-57.781-7.42-14.558-12.4-30.769-15.48-48.261zm241.9-72.047c0-9.071-0.47-19.5-1.36-31.274-0.91-11.777-1.83-22.656-2.72-32.617h-534.8c3.66-13.09 8.41-25.449 14.82-36.711 14.95-26.289 36.47-46.449 64.57-60.492 28.08-14.063 61.62-21.07 100.6-21.07 36.24 0 67.29 5.199 93.12 15.628 25.83 10.415 51.42 26.512 76.81 48.262l135.94-141.38c-35.34-38.98-78.85-68.648-130.5-89.039-51.66-20.39-112.84-30.59-183.53-30.59-87 0-162.92 16.532-227.7 49.622-64.81 33.07-115.11 78.378-150.9 135.94-35.81 57.555-53.7 123.04-53.7 196.44 0 73.411 17.44 138.87 52.34 196.44 34.88 57.534 83.14 102.39 144.78 134.57 61.62 32.16 130.95 48.27 207.99 48.27 72.5 0 138.67-14.75 198.48-44.18 59.82-29.46 107.4-72.73 142.74-129.84 35.35-57.09 53.02-126.42 53.02-207.99zm-4053.6-367.05v421.43c0 76.128-13.38 138.2-40.1 186.24-26.75 48.027-63.22 83.607-109.44 106.73-46.22 23.1-97.88 34.66-154.97 34.66-61.65 0-116.92-13.39-165.86-40.11-25.51-13.94-48.12-31.6-67.97-52.8v80.68h-246.05v-736.82h258.29v356.18c0 40.781 6.33 73.847 19.03 99.238 12.68 25.359 30.35 44.18 53.02 56.41 22.64 12.242 47.58 18.352 74.77 18.352 38.06 0 67.73-12.02 89.04-36.02 21.28-24.02 31.95-62.32 31.95-114.87v-379.28zm3074.9 207.11c-27.19 0-48.26 7.941-63.21 23.793-14.96 15.859-22.43 40.098-22.43 72.73v213h140.86v192.9h-134.07v191.77h-258.29v-191.77h-107.39v-192.9h107.39v-215.72c0-88.809 26.51-159.74 79.53-212.75 53.02-53.02 128.91-79.527 227.7-79.527 31.72 0 85.2 3.699 85.2 3.699l-0.07 194.54s-41.62 0.242-55.22 0.242zm-2264.7 650.69c28.99-26.3 67.05-39.43 114.19-39.43 48.02 0 86.32 13.36 114.87 40.11 28.55 26.73 42.82 60.5 42.82 101.28 0 38.95-14.51 70.9-43.5 95.84-29.02 24.91-67.08 37.38-114.19 37.38-47.14 0-85.2-13.15-114.19-39.41-29.02-26.31-43.51-58.93-43.51-97.89 0-38.97 14.49-71.61 43.51-97.88zm243.33-120.98h-258.29v-736.82h258.29zm-807.53-736.82h258.29v516.59h134.06v193.04h-140.86v16.31c0 32.64 7.48 56.87 22.43 72.73 14.96 15.85 36.03 23.8 63.22 23.8 13.59 0 73.85 0.23 73.85 0.23l0.07 197.27s-72.12 0.97-103.83 0.97c-98.79 0-174.69-26.51-227.7-79.52-53.02-53.02-79.53-123.95-79.53-212.75v-19.04h-107.4v-193.04h107.4zm1969.1 0h258.29v736.82h-258.29zm14.95 857.8c28.99-26.3 67.06-39.43 114.19-39.43 48.03 0 86.33 13.36 114.88 40.11 28.54 26.73 42.82 60.5 42.82 101.28 0 38.95-14.51 70.9-43.5 95.84-29.02 24.91-67.08 37.38-114.2 37.38-47.13 0-85.2-13.15-114.19-39.41-29.02-26.31-43.5-58.93-43.5-97.89 0-38.97 14.48-71.61 43.5-97.88zm-726.59-501.62c0 40.781 6.33 73.847 19.03 99.238 12.68 25.359 30.35 44.18 53.02 56.41 22.64 12.242 47.58 18.352 74.77 18.352 38.06 0 67.73-12.02 89.04-36.02 21.28-24.02 31.95-62.32 31.95-114.87v-379.28h258.29v421.43c0 76.128-13.38 138.2-40.1 186.24-26.75 48.027-63.22 83.607-109.44 106.73-46.22 23.1-97.88 34.66-154.97 34.66-61.65 0-116.92-13.39-165.86-40.11-25.51-13.94-48.12-31.6-67.97-52.8v80.68h-246.06v-736.82h258.3zm-2924.8-356.18v345.1l-362.97 606.5h284.12l225.17-377.6 226.17 377.6h261.01l-364.33-610.72v-340.89h-269.17" fill="#fff"/>
                </g>
            </g>
        </svg>
        <div>
            <span class="code">{{ statusCode }}</span>
            <h2 class="message">
                {{ message }}
            </h2>
            {% if error %}
                <p class="error-description">
                    {{ error|json_encode|raw }}
                </p>
            {% endif %}
        </div>
    </div>
</body>
</html>