{% extends "install.twig" %}

{% block title %}One Step Installer{% endblock %}
{% block head %}
  {{ parent() }}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <h1>Ynfinite CMS  &ndash; One Step Installer </h1>
    </div>
    <div class="card-body">
      <p class="description">
        Bitte gebe deine ServiceId und deinen API Key ein um dich mit Ynfinite zu Verbinden. Ausserdem kannst du hier den Cache Mechanismus auswählen, den du für diese Seite verwenden möchtest.
      </p>
      <form action="/ynfinite/install" method="post">
        <fieldset>
          <legend>Ynfinite Einstellungen</legend>
          <div class="widget">
            <label>Ynfinite API Key:</label>
            <input type="text" name="api_key" value="{{api_key}}" required>
          </div>
          <div class="widget">
            <label>Ynfinite Service Id:</label>
            <input type="text" name="service_id" value="{{service_id}}" required>
          </div>
        </fieldset>
        <br>
        <fieldset>
          <legend>Cache Einstellungen</legend>
          <select id="cache" name="cache" onchange="displayCacheForm()" required>>
            <option value="file" {% if cache.type == "file" %}selected{% endif %}>File Cache</option>
            <option value="memcache" {% if cache.type == "memcache" %}selected{% endif %}>Memcache</option>
          </select>
          <div class="memcache">
            <p class="description">
              Die default Werte für Server und Port sind localhost und 11211.
            </p>
            <div class="widget">
              <label for="cache.host">Memcache Server:</label><br>
              <input type="text" name="cache.host" value="{{cache.host}}">
              </div>
            <div class="widget">
              <label for="cache.port">Memcache Port:</label><br>
              <input type="text" name="cache.port" value="{{cache.port}}">
            </div>
          </div>
          <div class="file">
            Du musst sicherstellen dass die Verzeichnisse /cache und /logs von dem PHP auf dem Server beschreibbar sind.
          </div>
        </fieldset>
        <br>
        <fieldset>
          <input class="submit" type="submit" value="Speichern">
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}