{% set data = form.fields %}

<fieldset>
	{# set the referrer ================================= #}
	{% if _ynfinite.content.data.general_projekt_zeile1|length %}
		<input type="hidden" name="general_referrer" value="{{ _ynfinite.content.data.general_projekt_zeile1 }} | {{ _ynfinite.content.data.general_title }}">
	{% else %}
		<input type="hidden" name="general_referrer" value="{{ _ynfinite.content.data.general_title }}">
	{% endif %}

	{# determine the receiver =========================== #}
	{% if _ynfinite.content.data.general_kontakt_1|length %}
		<div class="field mt-0">
			<label for="general_sendto">Empfänger<em>*</em></label>
			<select name="general_sendto" required>
				{% for mail in _ynfinite.content.data.general_kontakt_1 -%}
					<option value="{{ mail.data.general_email }}">{{ mail.data.general_title }}</option>
				{% endfor -%}
			</select>
		</div>
	{% elseif _ynfinite.content.data['general_kontakt_e-mail']|length %}
		<input type="hidden" name="general_sendto" value="{{ _ynfinite.content.data['general_kontakt_e-mail'] }}">
	{% else %}
		<input type="hidden" name="general_sendto" value="vertrieb@wvm.de">
	{% endif %}


	{# select: wohnung  ================================= #}
	{#
	{% if data.template.general_filter_wohnungen|length %}
	<div class="field">
		<label for="general_interesse">Ich interessiere mich für…</label>
		<select  name="general_interesse">
			<option value="" selected disabled>Bitte auswählen</option>
			{% for item in data.template.general_filter_wohnungen %}
				<option value="{{ item.data.general_title }}">{{ item.data.general_title }}</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}
	#}


	{# the form fields  ================================= #}
	{{ _yfunc("formField", form.fields['general_ich_moechte']) }}
	<hr>

	{{ _yfunc("formField", form.fields['general_anrede']) }}
	{{ _yfunc("formField", form.fields['general_vorname']) }}
	{{ _yfunc("formField", form.fields['general_nachname']) }}
	{{ _yfunc("formField", form.fields['general_strasse']) }}
	{{ _yfunc("formField", form.fields['general_hausnummer']) }}
	{{ _yfunc("formField", form.fields['general_plz']) }}
	{{ _yfunc("formField", form.fields['general_ort']) }}
	{{ _yfunc("formField", form.fields['general_e-mail']) }}
	{{ _yfunc("formField", form.fields['general_telefonnummer']) }}
	{# {{ _yfunc("formField", form.fields['general_nachricht']) }} #}
	{{ _yfunc("consents", form) }}

	<div class="buttons text-left">
		<button class="button button--white button--block" {% if _ynfinite.acceptedCookies.piwik %} onclick="_paq.push(['trackEvent', 'Kontakt', 'Kontakt', 'Kontakt' ]);"{% endif %}>
			Absenden
		</button>
	</div>
</fieldset>
