{% set data = section.data %}

<div class="flexgrid header wow fadeInUp">
	<div class="flexitem header__content">
		<div class="flexitem__item">
			<p class="tagline">{{ _ynfinite.content.data.general_name }}</p>
			<h1 class="title">{{ _ynfinite.content.data.general_ueberschrift|raw }}</h1>
			{{ _ynfinite.content.data.general_text|raw }}
		</div>
	</div>
	<div class="flexitem header__meta">
		<div class="flexitem__item">
			{# google map #}
			{# if there are projects to show on the map #}
			{% if data.general_projekte|length %}
				<figure id="google-map" class="header__image"></figure>
				<script>
					function initMap() {
						var markers = [];
						var bounds = new google.maps.LatLngBounds();
						var markerData = [
							{% for item in data.general_projekte %}
								{% if item.data.panel_google_maps_coords.lat and item.data.panel_google_maps_coords.lng %}
									{
										position: {lat: {{item.data.panel_google_maps_coords.lat}}, lng: {{item.data.panel_google_maps_coords.lng}}},
										title: "{{ item.data.panel_intro_projektname }}",
										link: "{{ _yfunc('linkPage', 'projekt', item.settings.seo.alias) }}",
										{% if item.raw.general_projektart == "preview" %}
											icon: "{{ template.data.general_map_icons[0].path }}",
										{% else %}
											icon: "{{ template.data.general_map_icons[1].path }}",
										{% endif %}
									},
								{% endif %}
							{% endfor %}
						]

						var mapCenter = {lat: 0, lng: 0};
						var map = new google.maps.Map(document.getElementById('google-map'), {zoom: 4, center: mapCenter, styles: mapStyles});
						google.maps.event.addListener(map, 'zoom_changed', function() {
								zoomChangeBoundsListener =
								google.maps.event.addListener(map, 'bounds_changed', function(event) {
									if (this.getZoom() > 14 && this.initialZoom == true) {
										this.setZoom(14); // Change max/min zoom here
										this.initialZoom = false;
									}
								google.maps.event.removeListener(zoomChangeBoundsListener);
							});
						});

						for(var i = 0; i<markerData.length; i += 1) {
							var marker = new google.maps.Marker({
								position: {lat: markerData[i].position.lat, lng: markerData[i].position.lng},
								icon: markerData[i].icon,
								title: markerData[i].title,
								map: map
							});
							bounds.extend(marker.position);

							google.maps.event.addListener(marker, 'click', (function(marker, i) {
								return function() {
								window.open(markerData[i].link);
								}
							})(marker, i));
							markers.push(marker);
						}

						map.initialZoom = true;
						map.fitBounds(bounds);
						}

						window.onload = (function(){
							initMap();
						});
				</script>
			{# fallback: show the district #}
			{% elseif (_ynfinite.content.data.general_coords_lat|length) and (_ynfinite.content.data.general_coords_lng|length) %}
				{% set lat = _ynfinite.content.data.general_coords_lat %}
				{% set lng = _ynfinite.content.data.general_coords_lng %}
				<figure id="google-map" class="header__image"></figure>
				<script>
					var geocoder;
					var map;
					function initMap() {
						map = new google.maps.Map(
						document.getElementById('google-map'),
							{center: new google.maps.LatLng({{ lat }},{{ lng }}), zoom: 14});
							geocoder = new google.maps.Geocoder();
						}

					window.onload = (function(){
						initMap();
					});
				</script>
			{# fallback: show image #}
			{% else %}
				{% set image = _ynfinite.content.data.teaser_bild[0] %}
				<figure class="header__image">
					<img data-src="{{ image.path }}?w=1440" class="lazyload" title="{{ image.metadata.title }}" alt="{{ image.metadata.alt }}">
				</figure>
			{% endif %}

			{# bubble #}
			{% if _ynfinite.content.data.general_interessante_links|length %}
				<div class="bubble">
					<div class="bubble__content">
						{% if _ynfinite.content.data.general_unsere_tipps_ueberschrift|length %}
							<h3>{{ _ynfinite.content.data.general_unsere_tipps_ueberschrift }}</h3>
						{% endif %}
						<ul>
							{% for link in _ynfinite.content.data.general_interessante_links %}
								<li><a href="{{ link.href }}">{{ link.text }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>