{% set data = section.data %}

{% if data.general_stadtteile|length %}
	<section class="section wow fadeInUp">
		<div class="inner">
			<h2 class="title text-center">{{data.general_ueberschrift}}</h2>

			<div class="swiper__box">
				<div class="swiper-container swiper--1 has-pagination">
					<div class="swiper-wrapper">
						{% set cols = 3 %}
						{% for item in data.general_stadtteile %}
							{% set image = item.data.teaser_bild[0] %}
							{% if loop.index0 % cols == 0 %}
								<div class="swiper-slide">
									<div class="grid grid--districts" data-title="{{ item.data.general_title }}">
							{% endif %}
									<a href="{{ _yfunc('linkPage', 'stadtteil', item.settings.seo.alias) }}" class="item item--district">
										<h3 class="h2 title">{{ item.data.teaser_ueberschrift|raw ?: item.data.general_ueberschrift|raw }}</h3>
										<figure class="item__image">
											<img src="{{ image.path }}?w=640&h=400')" title="{{ image.metadata.title }}" alt="{{ image.metadata.alt }}">
										</figure>
									</a>
							{% if (loop.index0 % cols == cols - 1 or loop.last) %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
