<nav class="site__navigation">
	<ul class="nav__main">
		{% for mainItem in _ynfinite.navigation['home'] %}
		<li>
			<div class="nav__main__content">
				<h3>
					{%- if mainItem.href %}<a href="{{ mainItem.href }}" title="{{ mainItem.title }}" {{ subItem.html_attributes }}>{% endif -%}
						{{ mainItem.label }}
					{%- if mainItem.href %}</a>{% endif -%}
				</h3>

				{% if mainItem.children %}
				<ul>
					{% for subItem in mainItem.children %}
						<li>{% if subItem.href %}<a href="{{ subItem.href }}" title="{{ subItem.title }}" {{ subItem.html_attributes }}>{% endif %}{{ subItem.label }}{% if subItem.href %}</a>{% endif %}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
</nav>

<div class="nav__button__container">
	<button class="nav__button">
		<span class="nav__button__icon"></span>
	</button>
</div>