{% set data = section.data %}

<section class="section bg-primary wow fadeInUp">
	<div class="handle">{{ template.data.general_bezeichnung }}</div>
	<div class="inner">
		<p class="separator"><span>{{ template.data.general_bezeichnung }}</span></p>
		<h1 class="title text-center">{{ template.data.general_ueberschrift }}</h1>

		<div class="row row--list mt-2">
			{% for item in _ynfinite.listing %}
				{% set image = item.data.general_bild[0] %}
				<div class="col-xs-12 col-sm-4">
					<div class="item item--event">
						<figure class="item__image">
							<img data-src="{{ image.path }}?w=680&h=480" class="lazyload" alt="{{ image.metadata.alt }}">
						</figure>
						<div class="item__content">
							<p class="tagline">
								<time datetime="{{item.data.general_datum|date("Y-m-d")}}">{{item.data.general_datum|date("d.m.Y")}}</time>
								{% if item.data.general_enddatum and item.data.general_datum|date("d.m.Y") != item.data.general_enddatum|date("d.m.Y") %}
									- <time datetime="{{item.data.general_enddatum|date("Y-m-d")}}">{{item.data.general_enddatum|date("d.m.Y")}}</time>
								{% endif %}
								{% if item.data.general_ort|length %} | {{ item.data.general_ort }}{% endif %}
							</p>

							<h3 class="title">{{ item.data.general_ueberschrift }}</h3>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="content-list-footer">
			<div class="content-list-footer__perPage">
				{{ _ynfinite.pagination.markup.pages|raw }}
			</div>
		</div>

		{% if template.general_mehr_link %}
			<div class="buttons">
				<a href="/termine.html" class="button button--ghost">{{template.data.general_mehr_link}}</a>
			</div>
		{% endif %}
	</div>
</section>
