<!DOCTYPE html>
<html lang="{{ _ynfinite.languages.current|default('de') }}" class="{% block html_classes %}{% endblock html_classes %}" style="{% block html_style %}{% endblock html_style %}">
	<head>
		{% isScriptActive "form:dates" %}
			<link href="{{ _yfunc("withVersion", "/assets/vendor/ynfinite/css/flatpickr.min.css") }}" rel="stylesheet">
		{% endIsScriptActive %}
		{% isScriptActive "form:file" %}
			<link href="{{ _yfunc("withVersion", "/assets/vendor/ynfinite/css/upload.css") }}" rel="stylesheet">
		{% endIsScriptActive %}
		<link href="{{ _yfunc("withVersion", "/assets/vendor/ynfinite/css/main.css") }}" rel="stylesheet">
		<script>
			window.addedScripts = []
            const _yn_debug = "{{ _ynfinite.site.seo.general.debug|default(false) }}"; // logs for tracking & retargeting
		</script>
		<script>
			// JavaScript translations for form navigation
			window.ynTranslations = {
				yn_next: "{{ 'yn_next'|trans }}",
				yn_previous: "{{ 'yn_previous'|trans }}",
				yn_save: "{{ 'yn_save'|trans }}",
				yn_cancel: "{{ 'yn_cancel'|trans }}",
				yn_loading: "{{ 'yn_loading'|trans }}",
				yn_error: "{{ 'yn_error'|trans }}",
				yn_confirm: "{{ 'yn_confirm'|trans }}",
				yn_yes: "{{ 'yn_yes'|trans }}",
				yn_no: "{{ 'yn_no'|trans }}"
			};
		</script>
		{% block head %}
			{% include 'yn/layout/head.twig' %}
		{% endblock %}
		{% include "yn/layout/includes/structuredData.twig" %}
		{% include "yn/layout/includes/eventsSetup.twig" %}
		{% include "yn/layout/includes/tracking.twig" %}
		{% include "yn/layout/includes/retargeting.twig" %}
	</head>

	<body class="{% block body_classes %}{% endblock body_classes %} {{_ynfinite.page.css_classes}}" {% if _ynfinite.page.css_id %}id="{{_ynfinite.page.css_id}}"{% endif %}>
		<a id="jumpToBody" href="#body" class="button button--solid" aria-label="{{ 'yn_skipToContent'|trans }}" title="{{ 'yn_skipToContent'|trans }}" role="link" tabindex="0" data-ynfield>{{ 'yn_skipToContent'|trans }}</a>
		{% if templateList['header'] %}
			{% block header %}
				{{ include(templateList['header'], {template: _templates["header"]}) }}
			{% endblock header %}
		{% endif %}

		{% block body %}
			{% for section in _ynfinite.sections %}
				{{ include(templateList[section.template], {section: section, template: _templates[section.template]}) }}
			{% endfor %}
		{% endblock body %}

		{% if templateList["footer"] %}
			{% block footer %}
				{{ include(templateList["footer"], {template: _templates["footer"]}) }}
			{% endblock footer %}
		{% endif %}

		{% block footer_scripts %}
			<script src='{{ _yfunc("withVersion", "/assets/vendor/ynfinite/js/app.min.js") }}'></script>

			{% isScriptActive "form:dates" %}
				<script src='{{ _yfunc("withVersion", "/assets/vendor/ynfinite/js/dates/dayjs.min.js") }}'></script>
				<script src='{{ _yfunc("withVersion", "/assets/vendor/ynfinite/js/dates/dates.js") }}'></script>
			{% endIsScriptActive %}
			{% isScriptActive "form:file" %}
				<script src='{{ _yfunc("withVersion", "/assets/vendor/ynfinite/js/upload/upload.js") }}'></script>
			{% endIsScriptActive %}
			{% include "yn/layout/includes/globalEvents.twig" %}
		{% endblock footer_scripts %}
 
		{% block cookies %}
			{% if _ynfinite.cookies.config.active %}
				{{ include("yn/module/consentManager/index.twig", {"cookies": _ynfinite.cookies, "hideConsentManager": _ynfinite.page.hide_consent_manager})}}
			{% endif %}
		{% endblock cookies %}
	</body>
</html>
