<!DOCTYPE html>
<html lang="de">
	<head>
		<link href="{{ _yfunc("withVersion", "/assets/vendor/ynfinite/css/main.css") }}" rel="stylesheet">
		{% block head %}
			{% include 'yn/layout/head.twig' %}
		{% endblock %} 
	</head>

	<body class="{% block body_classes %}{% endblock body_classes %} {{_ynfinite.page.css_classes}}" id="{{_ynfinite.page.css_id}}">
		{% if templateList['header'] %}
			{% block header %}
				{{ include(templateList['header'], {template: _templates["header"]}) }}
			{% endblock header %}
		{% endif %}

		{% block body %}
			{% for section in _ynfinite.sections %}
				{{ include(templateList[section.template], {section: section, template: _templates[section.template]}) }}
			{% endfor %}
		{% endblock body %}

		{% if templateList["footer"] %}
			{% block footer %}
				{{ include(templateList["footer"], {template: _templates["footer"]}) }}
			{% endblock footer %}
		{% endif %}

		{% block footer_scripts %}
			<script language="javascript" type="text/javascript" src="/assets/vendor/ynfinite/js/app.min.js"></script>

			{% isScriptActive "form:dates" %}
			<script language="javascript" type="text/javascript" src="/assets/vendor/ynfinite/js/moment.min.js"></script>
			{% endIsScriptActive %}
		{% endblock footer_scripts %}

		{% block cookies %}
			{% if _ynfinite.cookies.config.active %}
				{{ include("yn/module/consentManager/index.twig", {"cookies": _ynfinite.cookies, "hideConsentManager": _ynfinite.page.hide_consent_manager})}}
			{% endif %}
		{% endblock cookies %}
	</body>
</html>
