{% extends "yn/components/form/basic.twig" %}

{% macro menuItems(field, items, type = 'select', level = 0) %}
	{% for item in items %}
		{% if item.children|length > 0 %}
			{% if type == 'list' %}
				<li class="level-{{ level }}" value="{{ item.value }}">{{ item.label }}
					<ul>
						{{ _self.menuItems(field, item.children, type, level + 1) }}
					</ul>
				</li>
			{% else %}
				<optgroup class="level-{{ level }}" label="{{ item.label }}"></optgroup>
				<option class="level-{{ level + 1 }}" value="{{ item.value }}" {% if field.value == item.value %}selected{% endif %}>{{ item.label }}</option>
				{{ _self.menuItems(field, item.children, type, level + 1) }}
			{% endif %}
		{% else %}
			{% if type == 'list' %}
				<li class="level-{{ level }}" value="{{ item.value }}">{{ item.label }}</li>
			{% else %}
				<option class="level-{{ level }}" value="{{ item.value }}" {% if field.value == item.value %}selected{% endif %}>{{ item.label }}</option>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endmacro %}

{% block field %}
	<select data-ynfield="true" id="{{ form.uid }}_{{ field.alias }}_from" name="fields{{ parent }}[{{ field.alias }}]{% if field.multiple %}[]{% endif %}" {% if field.value %}value="{{ field.value }}"{% endif %} {% if field.required %}required{% endif %} {% if field.multiple %}multiple{% endif %} {{ field.attributes|raw }}>
		{% if field.emptyLabel %}
			<option value="">{{ field.emptyLabel }}</option>
		{% endif %}
	
		{{ _self.menuItems(field, field.options, 'select') }}
	</select>
{% endblock field %}
