{% if field.items|length > 1 %}
	<div class="widget-group widget-group--checkbox">
	{% endif %}
	<p class="widget-group-header">{{field.label}}
		{% if(field.required) %}
			<span class="required">*</span>
		{% endif %}
	</p>
	{% for option in field.items %}
		<div class="widget widget--checkbox">
			<input type="checkbox" id="{{form._id}}_{{field.alias}}_{{option.value}}" name="fields{{parent}}[{{field.alias}}][]" value="{{option.value}}" {% if field.value == option.value %} checked {% endif %} {% if field.required %} required {% endif %}/>
			<label class="widget__label" for="{{form._id}}_{{field.alias}}_{{option.value}}">
				<div class="ynfinite-field-text">{{option.label}}</div>
			</label>
		</div>
	{% endfor %}
	{% if field.items|length > 1 %}
	</div>
{% endif %}
