{% if field.items|length > 1 %}
<div class="widget-group widget-group--checkbox">
{% endif %}
	<p class="widget-group-header">{{ field.label }}
		{% if(field.required) %}
			<span class="required">*</span>
		{% endif %}
	</p>
	{% for option in field.options %}
		<div class="widget widget--checkbox">
			<input data-ynfield="true" 
				type="checkbox" 
				name="fields{{ parent }}[{{ field.alias }}][]" 
				value="{{ option.value }}" 
				aria-label="{{ field.name ?: field.label ?: field.alias }}"
				id="{{form.alias}}_{{ field.alias }}_{{ option._id }}"
				{% if field.value == option.value or option.selected %}checked{% endif %} 
				{% if field.required %}required{% endif %}
				{{ field.attributes|raw }}
			>
			<label class="widget__label" for="{{form.alias}}_{{ field.alias }}_{{ option._id }}">
				{{ option.label|raw }}
			</label>
		</div>
	{% endfor %}
{% if field.items|length > 1 %}
	</div>
{% endif %}
