{% extends "yn/components/form/basic.twig" %}

{% block field %}

	{% set parentAlias = parent ~ field.alias %}

	<div class="yn-complexForm-wrapper" data-ynformalias="{{field.alias}}">
		<template id="complexField_{{field.uid}}">
			<div class="yn-complexForm-row">
				<div class="yn-complexForm-fields">{{_yfunc("renderFields", field.fields, section, null, parentAlias)}}</div>
				<div class="yn-complexForm-rowActions">
					<a href="#" class="yn-complexFormActions-delete">{{field.deleteLabel}}</a>
				</div>
			</div>
		</template>

		{% if field.descriptionText %}
			<div class="yn-complexForm-description">
				{{field.descriptionText}}
			</div>
		{% endif %}
		<div class="yn-complexForm-data"></div>
		<div class="yn-complexForm-actionswrapper">
			<div class="yn-complexForm-actions">
				<a href="#" class="yn-complexForm-actions-new">{{field.addLabel}}</a>
			</div>
		</div>
	</div>

{% endblock field %}
