{% set consents = form.consents %}

{% if consents %}
	<div class="yn-consents" {% if form.groups|length > 1 and not showAll|default(false) %}style="display: none"{% endif %}>
		{% for consent in consents %}
			{% if consent.text %}
				<div class="widget widget--checkbox ynfinite-consent consent-{{ consent.alias }}">
					<input aria-label="Ich stimme ({{ consent.text }}) zu" type="checkbox" id="{{ form.uid }}_{{ consent.alias }}" name="consents[]" value="{{ consent.alias }}" {% if consent.mandatory %}required{% endif %}>
					<label class="widget__label" for="{{ form.uid }}_{{ consent.alias }}">
						<div class="ynfinite-consent-text">{{ consent.text|raw }}</div>
					</label>
				</div>
				<div class="widget widget--checkbox ynfinite-consent consent-{{ consent.alias }}_v2 yn_consents_v2 xxx" tabindex="-1" aria-hidden="true">
					<input aria-label="Ich stimme ({{ consent.text }}) zu" type="checkbox" id="{{ form.uid }}_{{ consent.alias }}_v2" name="consents[]_v2" value="{{ consent.alias }}_v2" required tabindex="-1" disabled>
					<label class="widget__label" for="{{ form.uid }}_{{ consent.alias }}_v2" tabindex="-1" aria-hidden="true">
						<div class="ynfinite-consent-text ynfinite-consent-text_v2" tabindex="-1" aria-hidden="true">{{ consent.text|raw }}</div>
					</label>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}