{% extends "yn/components/form/basic.twig" %}

{% block field %}
	<div class="distance-wrapper">
		<input data-ynfield="true"
			type="text"
			name="fields{{ parent }}[{{ field.alias }}][loc]"
			value="{{ field.value['loc']|default(addValue|default(field.defaultValue)) }}"

			{% if field.minLength %} minlength="{{ field.minLength }}" {% endif %}
			{% if field.maxLength %} maxlength="{{ field.maxLength }}" {% endif %}
			{% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %}
			{% if field.required %} required {% endif %}

			{{ field.attributes|raw }}
		>
		<select data-ynfield="true" name="fields{{ parent }}[{{ field.alias }}][distance]" value="{{ field.value['distance'] }}" {% if field.required %}required{% endif %} {{ field.attributes|raw }}>
			{% if field.emptyLabel %}
				<option value="">{{ field.emptyLabel }}</option>
			{% endif %}
			{% set items = field.stepList|split(",") %}
			{% for item in items %}
				<option value="{{ item }}" {% if field.value['distance'] == item or (field.value['distance'] not in items and (items|length / 2)|round == loop.index ) %}selected{% endif %}>{{ item }} {{ field.stepListUnit }}</option>
			{% endfor %}
		</select>
	</div>
{% endblock field %}
