{% extends "yn/components/form/basic.twig" %}

{% block field %}
	{% if field.connectedContentTypeFieldCompareOperation != "<==>" %}
		<input data-ynfield="true" 
			type="{{field.type}}" 
			name="fields{{parent}}[{{field.alias}}]" 
			value="{{field.value|default(addValue|default(field.defaultValue))}}" 
			
			{% if field.min %} min="{{field.min}}" {% endif %} 
			{% if field.max %} max="{{field.max}}" {% endif %} 
			{% if field.step %} step="{{field.step}}" {% endif %} 
			{% if field.placeholder %} placeholder="{{field.placeholder}}" {% endif %} 
			{% if field.required %} required {% endif %} 
			
			{{field.attributes|raw}} 
		>

	{% else %}
		<div class="yn-form__form-group">
			<input data-ynfield="true" 
				type="{{field.type}}" 
				name="fields{{parent}}[{{field.alias}}][0]" 
				value="{{field.value[0]|default(addValue[0]|default(field.defaultValue))}}" 
				
				{% if field.min %} min="{{field.min}}" {% endif %} 
				{% if field.step %} step="{{field.step}}" {% endif %} 
				{% if field.placeholder %} placeholder="{{field.placeholder}}" {% endif %} 
				{% if field.required %} required {% endif %} 
				
				{{field.attributes|raw}} 
			>
			<input data-ynfield="true" 
				type="{{field.type}}" 
				name="fields{{parent}}[{{field.alias}}][1]" 
				value="{{field.value[1]|default(addValue[1]|default(field.defaultValueRange))}}" 
				
				{% if field.max %} max="{{field.max}}" {% endif %} 
				{% if field.step %} step="{{field.step}}" {% endif %} 
				{% if field.placeholderRange %} placeholder="{{field.placeholderRange}}" {% endif %} 
				{% if field.required %} required {% endif %} 
				
				{{field.attributes|raw}} 
			>
		</div>
	{% endif %}

{% endblock field %}
