{% extends "yn/components/form/basic.twig" %}

{% block field %}
	<input data-ynfield="true" 
		type="{{ field.type }}" 
		name="fields{{ parent }}[{{ field.alias }}]" 
		aria-label="{{ field.name ?: field.label ?: field.alias }}" 
		id="{{form.alias}}_{{ field.alias }}_{{ field._id }}"
		value="{{ field.value|default(addValue|default(field.defaultValue)) }}" 
		
		{% if field.autocomplete %}autocomplete="{{ field.autocomplete }}"{% endif %}
		{% if field.minLength %} minlength="{{ field.minLength }}" {% endif %} 
		{% if field.maxLength %} maxlength="{{ field.maxLength }}" {% endif %} 
		{% if field.pattern %} pattern="{{ field.pattern }}" {% endif %} 
		{% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %} 
		{% if field.required %} required {% endif %}

		{{ field.attributes|raw }}
	>
	{% if field.passwordType == "matchPassword" %}
		<div style="margin-top: 16px;">
			<label class="widget__label" for="{{ field.passwordType }}">
				Match Password<span class="required">*</span>
			</label>
		</div>
		<div style="margin-top: 8px;">
			<input data-ynfield="true" 
				type="{{ field.type }}" 
				name="fields{{ parent }}[{{ field.alias }}_match]" 
				value="{{ field.value|default(addValue|default(field.defaultValue)) }}" 
				
				{% if field.minLength %} minlength="{{ field.minLength }}" {% endif %} 
				{% if field.maxLength %} maxlength="{{ field.maxLength }}" {% endif %} 
				{% if field.pattern %} pattern="{{ field.pattern }}" {% endif %} 
				{% if field.placeholder %} placeholder="{{ field.placeholder }}" {% endif %} 
				{% if field.required %} required {% endif %}

				{{ field.attributes|raw }}
			>
		</div>
	{% endif %} 
{% endblock field %}
