{% extends "yn/components/form/basic.twig" %}

{% block field %}
	<select aria-label="{{ field.name ?: field.label ?: field.alias }}" id="{{form.alias}}_{{ field.alias }}_{{ field._id }}" data-ynfield="true" id="{{ form.uid }}_{{ field.alias }}_from" name="fields{{ parent }}[{{ field.alias }}]{% if field.multiple %}[]{% endif %}" {% if field.required %}required{% endif %} {% if field.multiple %}multiple{% endif %} {{ field.attributes|raw }} {% if field.disabled %}disabled{% endif %}>
		{% if field.emptyLabel %}
			<option selected {% if field.required %}disabled{% endif %} value="">{{ field.emptyLabel }}</option>
		{% endif %}
		{% for option in field.options %}
			<option value="{{ option.value }}" {% if item.value and ((field.multiple and item.value in field.value) or (not field.mutiple and item.value == field.value)) %}selected{% endif %}>{{ option.label }}</option>
		{% endfor %}
	</select>

	{% if field.multiple %}
		<script>
			setTimeout(function(){
				document.querySelectorAll("[id='{{ form.uid }}_{{ field.alias }}_from'] option").forEach((option) => {
					option.addEventListener('mousedown', function (e) {
						e.preventDefault();
						option.parentElement.focus();
						this.selected = !this.selected;
						return false;
					}, false );
				});
			}, 500);
		</script>
	{% endif %}
{% endblock field %}