{% extends "yn/components/form/basic.twig" %}
{% set teamMembers = _ynfinite.content.settings.responsible|length > 0 ? _ynfinite.content.settings.responsible : field.options.items %}
{% set notifyAll = _ynfinite.content.settings.responsible|length > 0 ? _ynfinite.content.settings.notifyAll : field.options.notifyAll %}

{% block widget %}
	{% set renderWidget = not notifyAll and teamMembers|length > 1 %}
	{% set renderHint = not notifyAll and teamMembers|length > 1  %}

	{{ parent() }}
{% endblock %}

{% block field %}
	{% if not notifyAll and teamMembers|length > 1 %}
		<select data-ynfield="true" name="fields{{ parent }}[{{ field.alias }}]" {% if field.required %}required{% endif %} {{ field.attributes|raw }}>
			{% if field.emptyLabel %}
				<option value="" {% if field.required %} disabled {% endif %}>{{ field.emptyLabel }}</option>
			{% endif %}
			{% for option in teamMembers %}
				<option value="{{ option._id }}" {% if field.value == option._id %}selected{% endif %}>{{ option.data[field.teamConfig.firstNameField] }}
					{{ option.data[field.teamConfig.lastNameField] }}</option>
			{% endfor %}
		</select>
	{% endif %}

	{% if teamMembers|length == 1 or notifyAll %}
		{% if not notifyAll %}
			<input type="hidden" name="fields{{ parent }}[{{ field.alias }}]" value="{{ _ynfinite.content.settings.responsible[0]._id }}">
		{% else %}
			{% for item in _ynfinite.content.settings.responsible %}
				<input type="hidden" name="fields{{ parent }}[{{ field.alias }}][]" value="{{ item._id }}">
			{% endfor %}
		{% endif %}
	{% endif %}
{% endblock field %}
