{% extends "yn/components/form/basic.twig" %}

{% block field %}

	<script>
		window.addEventListener('load', function () {
		var field, field2, startDate, endDate, value, value2;

		const isBetweenCompare = {% if field.compareOperation == "<==>" %}true{% else %}false{% endif %};

		const data = {
			from: {
				unit: '{{ field.dateRestrictions.from.unit }}',
				value: '{{ field.dateRestrictions.from.value }}'
			},
			to: {
				unit: '{{ field.dateRestrictions.to.unit }}',
				value: '{{ field.dateRestrictions.to.value }}'
			},
			value: '{{ field.value }}'
		}

		if(isBetweenCompare) {
			field = document.getElementById('{{form.uid}}_{{field.alias}}_from');
			field2 = document.getElementById('{{form.uid}}_{{field.alias}}_to');
		}
		else {
			field = document.getElementById('{{form.uid}}_{{field.alias}}');
		}
		

		if (data.from.unit && data.from.value) {
			startDate = moment().subtract(data.from.value, data.from.unit);
			field.setAttribute("min", startDate.weekYear() + "-W" + startDate.isoWeek().toString().padStart(2, "0"))
			if(isBetweenCompare) {	
				field2.setAttribute("min", startDate.weekYear() + "-W" + startDate.isoWeek().toString().padStart(2, "0"))
			}
		}

		if (data.to.unit && data.to.value) {
			endDate = moment().add(data.to.value, data.to.unit);
			field.setAttribute("max", endDate.weekYear() + "-W" + endDate.isoWeek().toString().padStart(2, "0"))
			if(isBetweenCompare) {	
				field2.setAttribute("max", endDate.weekYear() + "-W" + endDate.isoWeek().toString().padStart(2, "0"))
			}
		}

		if (data.value) {
			if(isBetweenCompare) {
				value = moment('{{ field.value[0] }}');
				field.setAttribute("value", value.weekYear() + "-W" + value.isoWeek().toString().padStart(2, "0"))

				value2 = moment('{{ field.value[1] }}');
				field2.setAttribute("value", value2.weekYear() + "-W" + value2.isoWeek().toString().padStart(2, "0"))
			}
			else {
				value = moment('{{ field.value }}');
				field.setAttribute("value", value.weekYear() + "-W" + value.isoWeek().toString().padStart(2, "0"))
			}
		}
	})
	</script>

	{% if field.compareOperation == "<==>" %}
		<div class="yn-form-grid-row">
			<div class="yn-form-grid-field">
				{% if field.placeholder %}<small>{{field.placeholder}}</small>{% endif %}
				<input data-ynfield="true" id="{{form.uid}}_{{field.alias}}_from" type="{{field.type}}" name="fields{{parent}}[{{field.alias}}][]" placeholder="{{field.placeholder}}" {% if field.required %} required {% endif %} {{field.attributes|raw}}/>
			</div>
			<div class="yn-form-grid-field">
				{% if field.placeholder %}<small>{{field.placeholderRange}}</small>{% endif %}
				<input data-ynfield="true" id="{{form.uid}}_{{field.alias}}_to" type="{{field.type}}" name="fields{{parent}}[{{field.alias}}][]" placeholder="{{field.placeholderRange}}" {% if field.required %} required {% endif %} {{field.attributes|raw}}/>
			</div>
		</div>
	{% else %}
		<input data-ynfield="true" id="{{form.uid}}_{{field.alias}}" type="{{field.type}}" name="fields{{parent}}[{{field.alias}}]" placeholder="{{field.placeholder}}" {% if field.required %} required {% endif %} {{field.attributes|raw}}/>
	{% endif %}


{% endblock field %}