{% set data = section.data %}

<section class="section top-padding">
	<div class="inner">
		<div class="text-center">
			<a href="/"><img src="{{ data.general_logo[0].path }}" alt="{{ data.general_logo[0].metadata.alt }}"></a>
		</div>
		<div class="row" style="margin-top: -6rem;">
			{% for item in data.general_columns %}
			<div class="col-xs-12 col-sm mb-3{% if loop.first == true %} text-right-sm mt-3{% endif %}">
				<h2 class="h3 title text-primary" style="text-transform: none">{{ item.data.general_title }}</h2>
				{{ item.data.general_text|raw }}

				{% if item.data.general_360_link|length %}
					<p>
						<a href="{{ item.data.general_360_link[0].href }}" target="_blank">
							<strong>{{ item.data.general_360_link[0].text }}</strong><br>
							<img src="{{ data.general_360_grad[0].path }}" class="icon icon--360" alt="360 Grad">
						</a>
					</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-xs text-center">
				<ul class="social mt-2">
					<li><a href="https://www.facebook.com/wvmimmobilien/?fref=ts"><i class="fab fa-fw fa-2x fa-facebook-square"></i></a></li>
					<li><a href="https://www.instagram.com/wvmimmobilien/"><i class="fab fa-fw fa-2x fa-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/user/WvMImmobilien"><i class="fab fa-fw fa-2x fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>