{% extends "yn/layout/index.twig" %}

{# block: head #}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/app.css">
	<link rel="stylesheet" href="/assets/css/fontawesome.css">

	{# google-maps #}
	{% isCookieActive "google_maps" %}
		<!-- google maps -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDby_QO9pVJ2laQO15SaGydk9B5UiU3B-M"></script>
	{% endIsCookieActive %}

	{# marketing #}
	{% isCookieActive "marketing" %}
		<!-- marketing -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1026368797"></script>
		<script>
			window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());
			gtag('config', 'AW-1026368797');
		</script>
	{% endIsCookieActive %}

	{# piwik / matomo #}
	{% isCookieActive "piwik" %}
		<!-- piwik / matomo -->
		<script type="text/javascript">
			var _paq = _paq || [];
			{% if _ynfinite.content %}
				_paq.push(["setDocumentTitle", "{{_ynfinite.content.settings.seo.title}}"]);
			{% else %}
				_paq.push(["setDocumentTitle", "{{_ynfinite.page.name}}"]);
			{% endif %}
			_paq.push(["setDoNotTrack", true]);
			_paq.push(["setDownloadExtensions", ""]);
			_paq.push(["trackPageView"]);
			_paq.push(["enableLinkTracking"]);
			(function() {
				var u="https://p376947.mittwaldserver.info/piwik/";
				_paq.push(["setTrackerUrl", u+"piwik.php"]);
				_paq.push(["setSiteId", "10"]);
				var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
				g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
			})();
		</script>
	{% endIsCookieActive %}
{% endblock head %}


{# block: body #}
{% block body %}
	<main class="site__content">
		{{ parent() }}
	</main>
{% endblock %}


{# block: footer_scripts #}
{% block footer_scripts %}
	<script type="text/javascript" src="/assets/js/app.min.js"></script>
	{% isCookieActive "google_maps" %}
		<!-- google maps -->
		<script type="text/javascript" src="/assets/js/mapStyle.js"></script>
	{% endIsCookieActive %}

	{{ parent() }}
{% endblock %}