{% set data = section.data %}

<header class="header wow fadeInUp">
	<div class="inner">
		<h1 class="title text-primary">{{ _ynfinite.content.data.general_ueberschrift|striptags('<span>')|raw }}</h1>
		<div class="bodytext">
			{{_ynfinite.content.data.general_einleitungstext|raw}}
		</div>
	</div>
</header>

{% if _ynfinite.content.data.panel_beschreibung_headerbild_links|length %}
	<div class="parallax__banner standalone wow fadeInUp">
		{% set imageLeft = _ynfinite.content.data.panel_beschreibung_headerbild_links[0] %}
		<div class="parallax__banner__panel rellax" data-rellax-speed=".5" data-rellax-zindex="0">
			<img data-src="{{ imageLeft.path }}?w=1280" class="lazyload" title="{{ imageLeft.metadata.title }}" alt="{{ imageLeft.metadata.alt }}">
		</div>
		{% set imageRight = _ynfinite.content.data.panel_beschreibung_headerbild_rechts[0] %}
		<div class="parallax__banner__panel rellax" data-rellax-speed="-.5" data-rellax-zindex="0">
			<img data-src="{{ imageRight.path }}?w=1280" class="lazyload" title="{{ imageRight.metadata.title }}" alt="{{ imageRight.metadata.alt }}">
		</div>
	</div>
{% endif %}
