{% set data = section.data %}

{% if data.general_mit_banner %}
	<section class="section wow fadeInUp">
		<div class="inner">
			<p class="separator">
				<span>{{template.data.general_bezeichnung}}</span>
			</p>
		</div>
		{% if data.general_banner|length %}
			<div class="banner">
				<div class="banner__image">
					{{ _yfunc('printImage', data.general_banner[0], [{"w":800, "screenSize":800},{"w":1440, "screenSize":1024},{"w":2880, "screenSize":1680},{"w":1440}]) }}
				</div>
			</div>
		{% endif %}
	</section>
{% endif %}


{% if data.general_immobilien|length %}
<section class="section">
	<div class="handle">{{ template.data.general_bezeichnung }}</div>
	<div class="inner">
		{% if data.general_mit_banner|length == 0 %}
			<h2 class="separator"><span>{{ data.general_ueberschrift ?: template.data.general_bezeichnung }}</span></h2>
		{% endif %}

		{# navigation #}
		{% if data.general_navigation_anzeigen %}
			<div class="row">
				<div class="col-xs-12 col-sm text-center text-right-sm">
					<h2 class="h1 title mb-1-sm">{{ data.general_ueberschrift }}</h2>
				</div>

				<div class="col-xs-12 col-sm mt-1 mt-0-sm">
					<ul class="dropdown">
						{% for mainItem in _ynfinite.navigation["projekte"] %}
							<li>
								<input type="checkbox" class="dropdown__item" id="toggle_{{ loop.index0 }}">
								<label for="toggle_{{ loop.index0 }}">{{ mainItem.label }}</label>
								{% if mainItem.children %}
									<ul>
										{# link to main pages #}
										{% if mainItem.label == 'Berlin' %}
											<li><a href="/regionen/wohnung-kaufen-in-berlin.html">Alle Projekte in Berlin</a></li>
										{% elseif mainItem.label == 'Düsseldorf' %}
											<li><a href="/regionen/wohnung-kaufen-in-duesseldorf.html">Alle Projekte in Düsseldorf</a></li>
										{% elseif mainItem.label == 'Köln' %}
											<li><a href="/regionen/wohnung-kaufen-in-koeln-und-umgebung.html">Alle Projekte in Köln</a></li>
										{% endif %}

										{% for subItem in mainItem.children %}
											<li>
												{%if subItem.href %}
													<a href="{{subItem.href}}" title="{{subItem.title}}">
													{% endif %}
													{{subItem.label}}
													{% if subItem.href %}
													</a>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		{% endif %}

		{# projects #}
		<div class="grid grid--reveal mt-2">
			{% for projekt in data.general_immobilien %}
				{% if projekt.raw.general_projektart == "preview" %}
					<div class="item item--reveal item--border{% if loop.first %} item--2{% endif %}">
					{% else %}
						{% if projekt.data.general_externe_projektwebseite %}
							<a href="{{ projekt.data.general_externe_projektwebseite }}" class="item item--reveal item--border{% if loop.first %} item--2{% endif %}" target="_blank">
						{% else %}
							<a href="{{ _yfunc('linkPage', 'projekt', projekt.settings.seo.alias) }}" class="item item--reveal item--border{% if loop.first %} item--2{% endif %}" target="_blank">
						{% endif %}
					{% endif %}
							<div class="item__content">
								{% if projekt.data.teaser_logo|length %}
									<div class="item__content__logo">
										<img data-src="{{ projekt.data.teaser_logo[0].path }}?w=128" class="lazyload">
									</div>
								{% else %}
									<span class="h1 tp counter bold">{{ projekt.data.panel_intro_hausnummer }}</span>
								{% endif %}

								<div class="item__content__text">
									<h3 class="heading">{{ projekt.data.panel_intro_projektname }}</h3>
									{{ projekt.data.teaser_text|striptags('<ul><ol><li>')|raw }}
								</div>
							</div>

							<div class="item__image">
								{% if loop.first %}
									<img data-src="{{ projekt.data.teaser_bild[0].path }}?w=1048&h=740" class="lazyload" alt="{{ projekt.data.teaser_bild[0].metadata.alt }}"/>
								{% else %}
									<img data-src="{{ projekt.data.teaser_bild[0].path }}?w=320&h=480" class="lazyload" alt="{{ projekt.data.teaser_bild[0].metadata.alt }}"/>
								{% endif %}
							</div>

					{% if projekt.raw.general_projektart == "preview" %}
						</div>
					{% else %}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}
