{% set data = section.data %}

{% if data.general_news|length %}
	<section class="section bg wow fadeInUp">
		<div class="handle">{{ template.data.general_bezeichnung }}</div>
		<div class="inner">
			<h2 class="separator">
				<span>{{ template.data.general_bezeichnung }}</span>
			</h2>

			<div class="grid grid--2 text-center">
				{% for item in data.general_news %}
					{% set image = item.data.general_bild[0] %}
					<div class="item">
						<a href="{{ _yfunc("linkPage", 'news', item.settings.seo.alias) }}">
							<img
							data-src="{{ image.path }}?w=800&h=524"
							data-srcset="
							{{ image.path }}?w=420&h=275 360w,
							{{ image.path }}?w=800&h=524 760w"
							sizes="100%"
							class="lazyload item__image"
							alt="{{ image.metadata.alt }}">
						</a>

						<div class="item__content">
							<p class="tagline">
								{{ item.data.general_datum|date("d.m.Y") }}
								{% if item.data.general_standort|length %} | {{ item.data.general_standort.value }} {% endif %}
							</p>

							<h3 class="h2 title">
								<a href="{{ _yfunc("linkPage", 'news', item.settings.seo.alias) }}">{{ item.data.general_ueberschrift|raw }}</a>
							</h3>

							{{ item.data.general_teaser|raw }}
							<a href="{{ _yfunc("linkPage", 'news', item.settings.seo.alias) }}" class="link">Mehr Erfahren</a>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="buttons mt-0">
				<a href="/newsliste.html" class="button button--primary">{{template.data.general_mehr_news}}</a>
			</div>
		</div>
	</section>
{% endif %}
