{% set data = section.data %}

<div class="inner wow fadeInUp">
  <p class="separator"><span>{{template.data.general_bezeichnung}}</span></p>
</div>
<div class="banner banner--overlay wow fadeInUp" data-pos="center" data-width="3">
  <div class="banner__content">
    {{template.data.general_text|raw}}
    {% if data.general_teaserversion %}
        <a href="/ueber-uns.html" class="button button--ghost">Mehr Erfahren</a>
    {% endif %}
  </div>
  <div class="banner__image">
    <img
      data-src="{{template.data.general_hintergrundbild[0].path}}?w=800"
      data-srcset="
        {{template.data.general_hintergrundbild[0].path}}?w=420   360w,
        {{template.data.general_hintergrundbild[0].path}}?w=800   760w,
        {{template.data.general_hintergrundbild[0].path}}?w=1440 1400w"
      sizes="100%"
      class="lazyload"
      alt="{{template.data.general_hintergrundbild[0].metadata.alt }}"
    />
  </div>
</div>


{% if data.general_teaserversion != true %}
    <section class="section wow fadeInUp">
      <div class="handle">{{template.data.general_bezeichnung_kompetenzen}}</div>
      <div class="inner">
        <div class="swiper__box">
          <div class="swiper-container swiper--1">
            <div class="swiper-wrapper">
              {% for slide in template.data.general_slider %}
                  <div class="swiper-slide">
                    <div class="flexgrid flexgrid--center">
                      <div class="flexitem text-center">
                        <img data-src="{{ slide.data.general_bild[0].path }}" class="lazyload icon icon--small" alt="" />
                      </div>
                      <div class="flexitem flex-3">
                        <h2 class="upper">{{ slide.data.general_ueberschrift}}</h2>
                        {{ slide.data.general_text|raw }}
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
          </div>
        </div>
      </div>
    </section>
{% endif %}