{% set data = section.data %}

{% if data.general_referenzen|length %}
	<section class="section wow fadeInUp">
		<div class="inner">
			<p class="separator"><span>{{ template.data.general_bezeichnung|raw }}</span></p>
		</div>

		<div class="banner banner--overlay" data-pos="center" data-width="3">
			<div class="banner__content">
				<span class="h1 title-minmax">{{ template.data.general_bezeichnung|raw }}</span>
			</div>

			{% set image = template.data.general_hintergrundbild[0] %}
			<div class="banner__image">
				<img
				data-src="{{ image.path }}?w=800"
				data-srcset="
					{{ image.path }}?w=420 360w,
					{{ image.path }}?w=800 760w,
					{{ image.path }}?w=1440 1400w"
				sizes="100%"
				class="lazyload"
				alt="{{ image.metadata.alt }}">
			</div>
		</div>


		<div class="inner pt-1">
			{% if template.data.general_text|length %}
				<div class="bodytext mb-1">
					{{ template.data.general_text|raw }}
				</div>
			{% endif %}

			<div class="grid">
				{% for item in data.general_referenzen %}
					{% set image = item.data.general_bild[0] %}
					<div class="item">
						<a href="{{ _yfunc('linkPage', 'referenz', item.settings.seo.alias) }}">
							<img data-src="{{ image.path }}?w=720&h=460" class="lazyload item__image" title="{{ image.metadata.title }}" alt="{{ image.metadata.alt ?: item.data.general_title }}">
						</a>
						<div class="item__content">
							<p class="tagline">{{ item.data.general_baudatum|date("d.m.Y") }} | {{ item.data.general_ort.value }}</p>
							<h2 class="h3 title">{{ item.data.general_ueberschrift|raw }}</h2>
							<a href="{{ _yfunc('linkPage', 'referenz', item.settings.seo.alias) }}" class="link">Mehr Erfahren</a>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="buttons mt-1">
				<a href="/referenzen.html" class="button button--primary">{{ template.data.general_mehr_link }}</a>
			</div>
		</div>
	</section>
{% endif %}
