{% set data = section.data %}

<section class="section wow fadeInUp">
	<div class="handle">{{data.general_bezeichnung}}</div>
	<div class="inner">
		<p class="separator">
			<span>{{template.data.general_bezeichnung}}</span>
		</p>

		{% for item in template.data.general_abschnitte %}
			<div class="row row--entry{% if loop.last == false %} mb-3{% endif %}">
				<div class="col-xs-12 col-sm-6 {% if item.data.general_reihenfolge.value == 'image_first' %}last-sm{% endif %}">
					<div class="item">
						<p class="tagline">{{item.data.general_oberlinie}}</p>
						<h2 class="h2 title">{{item.data.general_ueberschrift}}</h2>
						{{ item.data.general_text|raw }}
					</div>
				</div>

				<div class="col-xs-12 col-sm-6">
					<div class="item">
						<figure class="item__image">
							<img data-src="{{ item.data.general_bild[0].path }}" class="lazyload" alt="{{ item.data.general_bild[0].metadata.alt }}">
						</figure>
						{% if item.data.general_box|length > 10 %}
							<div class="bubble">
								<div class="bubble__content upper bold">
									{{ item.data.general_box|raw }}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
