{% set data = section.data %}

<form class="form form--filter">
	<select name="{{ data.general_abteilung.alias }}">
		<option class="is-empty" selected disabled>Positionen</option>
		{% for item in data.general_abteilung.options %}
			{% for subItem in item.children %}
				<optgroup label="{{ subItem.title }}">
					<option class="level-0" value="{{subItem.alias}}" {% if data.general_abteilung.value == subItem.alias %} selected {% endif %}>{{ subItem.title }}</option>
					{% for subsubItem in subItem.children %}
						<option class="level-1" value="{{subsubItem.alias}}" {% if data.general_abteilung.value == subsubItem.alias %} selected {% endif %}>{{ subsubItem.title }}</option>
						{% for subsubsubItem in subsubItem.children %}
							<option class="level-2" value="{{subsubsubItem.alias}}" {% if data.general_abteilung.value == subsubsubItem.alias %} selected {% endif %}>{{ subsubsubItem.title }}</option>
						{% endfor %}
					{% endfor %}
				</optgroup>
			{% endfor %}
		{% endfor %}
	</select>
</form>
