{% set data = section.data %}

<section id="kontakt" class="section bg wow fadeInUp">
	<div class="handle">Das Team</div>
	<div class="inner">
		<div class="content-list-header">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					{{ _yfunc('form', _ynfinite.listingForm, section) }}
				</div>
				<div class="col-xs-12 col-sm-8">
					{# {{ _yfunc('perPageDropdown') }} #}
				</div>
			</div>
		</div>

		<div class="grid">
			{% for item in _ynfinite.listing %}
				{% if item.data.general_interview|length > 12 %}
					<a href="#team-modal-{{ loop.index0 }}" class="item item--team js-modal">
				{% else %}
					<div class="item item--team">
				{% endif %}
						<img data-src="{{ item.data.general_bild[0].path }}?w=400" class="lazyload item__image" alt="{{ item.data.general_name }}">
						<div class="item__content">
							<h3 class="h4 heading">{{ item.data.general_name }}</h3>
							<p>
								{{ item.data.general_position }}<br>
								<span class="href">{{ item.data["general_e-mail"] }}</span>
							</p>
						</div>
				{% if item.data.general_interview|length > 12 %}
					</a>
				{% else %}
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{# pagination #}
		{# {{ _yfunc('pagination') }} #}
	</div>

	{# modals #}
	{% for item in _ynfinite.listing %}
		{% if item.data.general_interview is not empty %}
			<div id="team-modal-{{loop.index0}}" class="modal">
				<h3>{{ item.data.general_name }}</h3>
				{{ item.data.general_interview|raw }}
			</div>
		{% endif %}
	{% endfor %}
</section>
