{% set data = section.data %}

{% if data.general_mit_banner %}
<section class="section wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
	<div class="inner">
		<p class="separator"><span>{{template.data.general_bezeichnung}}</span></p>
	</div>
	{% if _ynfinite.content.data.panel_immobilienangebote_einleitungsbild|length %}
	<div class="banner">
		<div class="banner__image">
			<img src="{{ _ynfinite.content.data.panel_immobilienangebote_einleitungsbild[0].path }}?w=1440&h=520"
				loading="lazy" alt="">
		</div>
	</div>
	{% endif %}
</section>
{% endif %}


<section class="section">
	<div class="handle">{{template.data.general_bezeichnung}}</div>
	<div class="inner">
		{% if data.general_navigation_anzeigen %}
		<div class="row">
			<div class="col-xs-12 col-sm text-center text-right-sm">
				<h2 class="h1 title mb-1-sm">{{ data.general_ueberschrift }}</h2>
			</div>
			<div class="col-xs-12 col-sm mt-1 mt-0-sm">
				<ul class="dropdown">
					{% for mainItem in _ynfinite.navigation["projekte"] %}
						{% if mainItem.label == _ynfinite.content.data.general_title %}
						<li>
							<input type="checkbox" class="dropdown__item" id="toggle_{{loop.index0}}">
							<label for="toggle_{{loop.index0}}">{%if mainItem.href %}<a href="{{mainItem.href}}" title="{{mainItem.title}}">{% endif %}{{mainItem.label}}{%if mainItem.href %}</a>{% endif %}</label>
							
							{% if mainItem.children %}
								<ul>
									{% for subItem in mainItem.children %}
									<li>
										{%- if subItem.href %}<a href="{{subItem.href}}" title="{{subItem.title}}">{% endif -%}
											{{ subItem.label }}
										{%- if subItem.href %}</a>{% endif -%}
									</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		{% else %}
		<h2 class="h1 title mb-1-sm">{{ data.general_ueberschrift }}</h2>
		{% endif %}

		<div class="swiper__box">
			<div class="swiper-container swiper--1">
				<div class="swiper-wrapper">

					{% for slide in data.general_immobilien|batch(5) %}
					<div class="swiper-slide">
						<div class="grid grid--reveal">
							{% for projekt in slide %}
								{% if projekt.raw.general_projektart == "preview" %}
									<div class="item item--reveal item--border{% if loop.first %} item--2{% endif %}">
								{% else %}
									{% if projekt.data.general_externe_projektwebseite %}
										<a href="{{ projekt.data.general_externe_projektwebseite }}" class="item item--reveal item--border{% if loop.first %} item--2{% endif %}" target="_blank">
									{% else %}
										<a href="{{ _yfunc.linkPage('projekt', projekt.settings.seo.alias) }}" class="item item--reveal item--border{% if loop.first %} item--2{% endif %}" target="_blank">
									{% endif %}
								{% endif %}

											<div class="item__content">
												{% if projekt.data.teaser_logo|length %}
												<div class="item__content__logo">
													<img src="{{ projekt.data.teaser_logo[0].path }}?w=128">
												</div>
												{% else %}
												<span class="h1 tp counter bold">{{ projekt.data.panel_intro_hausnummer }}</span>
												{% endif %}

												<div class="item__content__text">
													<h3 class="heading">{{ projekt.data.panel_intro_projektname }}</h3>
													{{ projekt.data.teaser_text|striptags('<ul><ol><li>')|raw }}
												</div>
											</div>

											<div class="item__image">
												{% if loop.first %}
												<img src="{{ projekt.data.teaser_bild[0].path }}?w=680&h=480"
													alt="{{ projekt.data.teaser_bild[0].metadata.alt }}" />
												{% else %}
												<img src="{{ projekt.data.teaser_bild[0].path }}?w=320&h=480"
													alt="{{ projekt.data.teaser_bild[0].metadata.alt }}" />
												{% endif %}
											</div>

								{% if projekt.raw.general_projektart == "preview" %}
									</div>
								{% else %}
									</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>

				<!-- pagination-->
				<div class="swiper-pagination"></div>
			</div>
		</div>

		<div class="content-list-footer">
			<div class="content-list-footer__perPage">
				{{ _ynfinite.pagination.markup.pages|raw }}
			</div>
		</div>
	</div>
</section>