{% set data = section.data %}

<section class="section">
  <div class="handle">{{_ynfinite.content.data.general_name}}</div>
  <div class="inner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <figure class="text-center">
      <img src="{{_ynfinite.content.data.panel_beschreibung_stilbild[0].path}}?w=300" alt="{{_ynfinite.content.data.general_name}}" />
    </figure>
    <div class="bodytext columns columns--pull">
      {{_ynfinite.content.data.panel_beschreibung_text|raw}}
    </div>
  </div>
</section>
<section class="section pt-0 wow fadeInUp">
  <div class="inner">
    <div class="flexgrid text-center text-primary upper">
      {% for counter in _ynfinite.content.data.panel_beschreibung_counter %}
      <div class="flexitem">
        <span class="numscroller counter" data-min="0" data-max="{{counter.data.general_ziel}}" data-delay="4" data-increment="1">{{counter.data.general_ziel}}</span>
        <p>{{counter.data.general_bezeichnung}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>